<a href="https://colab.research.google.com/github/Bainer13/Data_BBVA_Team_1/blob/main/Copia_de_Proyecto_bootcamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Armado del entorno de trabajo**

In [2]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [3]:
!wget -q https://dlcdn.apache.org/spark/spark-3.3.2/spark-3.3.2-bin-hadoop3.tgz

In [4]:
ls

sample_data/  spark-3.3.2-bin-hadoop3.tgz

In [5]:
!tar xf spark-3.3.2-bin-hadoop3.tgz

In [6]:
!java -version

openjdk version "11.0.18" 2023-01-17
OpenJDK Runtime Environment (build 11.0.18+10-post-Ubuntu-0ubuntu120.04.1)
OpenJDK 64-Bit Server VM (build 11.0.18+10-post-Ubuntu-0ubuntu120.04.1, mixed mode, sharing)

In [7]:
!readlink -f $(which java) | sed "s:bin/java::"

/usr/lib/jvm/java-11-openjdk-amd64/

In [8]:
!echo $JAVA_HOME

In [9]:
!pip install -q findspark

In [10]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 21.5 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824028 sha256=88940d97ed31628528916c3c6c7d8b5f557e5577adb879b472562cc6e0822a0b
  Stored in directory: /root/.cache/pip/wheels/6c/e3/9b/0525ce8a69478916513509d43693511463c6468db0de237c86
Successfully built pyspark
Installing collected packages: py4j, pyspark
  Attempting uninstall: py4j
    Found existing installation: py4j 0.10.9.7
    Uninstalling py4j-0.10.9.7:
      Successfully uninstalled py4j-0.10.9.7
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [11]:
from pyspark.sql import SparkSession

In [12]:
import pyspark.sql.functions as F

In [13]:
import pandas as pd
pd.set_option('display.max_rows', None)

In [14]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number
from pyspark.sql.functions import col
from pyspark.sql.functions import *
from pyspark.sql.functions import lit
from pyspark.sql.functions import coalesce, expr

In [15]:
spark = SparkSession.builder.getOrCreate()

In [16]:
spark.conf.set('spark.sql.legacy.parquet.datetimeRebaseModeInRead', 'CORRECTED')

## **Extraccion de datos**

In [24]:
#Lectura de parquets
df_address = spark.read.parquet('/content/address_bootcamp.snappy.parquet')
df_customer_basics = spark.read.parquet('/content/customer_basics_bootcamp.snappy.parquet')
df_email = spark.read.parquet('/content/emails_bootcamp.snappy.parquet')
df_phones = spark.read.parquet('/content/phones_bootcamp.snappy.parquet')
df_nationality = spark.read.parquet('/content/nationality.snappy.parquet')
df_marital_status_type = spark.read.parquet('/content/Marital status.snappy.parquet')

In [ ]:
df_phones.show()

+-----------+--------------+-------------------+-----------------+----------+----------------+---------------+-------------+-------------------+-----------------+-------------+--------------+---------------+-----------------------+------------------+---------------------+--------------------+----------+-----------+--------------------------+---------------------+--------------------+---------------------+----------------+-------------------------+-------------------------+------------------+-------------------+-----------------+--------------------+---------------------+-----------------------+----------------------+--------------------+----------------------+------------------------------+----------------------------+-------------------+----------------+----------------+-------------------+--------------------+-----------------------+---------------------+
|customer_id|phone_use_type|address_sequence_id|phone_sequence_id|phone_type|phone_country_id|prefix_phone_id|phone_area_id|cellphone_prefix_id|phone_exchange_id|phone_line_id|      phone_id|phone_intern_id|aditional_info_txt_desc|primary_phone_type|address_sequence_type|   address_town_name|zipcode_id|province_id|customer_phone_status_type|phone_status_mod_date|contact_channel_type|sender_application_id|wrong_phone_type|normalization_status_type|normalization_reason_name|normalization_date|validity_start_date|validity_end_date|dlvy_day_monday_type|dlvy_day_tuesday_type|dlvy_day_wednesday_type|dlvy_day_thursday_type|dlvy_day_friday_type|dlvy_day_saturday_type|delivery_contact_start_hm_date|delivery_contact_end_hm_date|registry_entry_date|register_user_id|last_change_date|last_change_user_id|last_change_hms_date|last_change_terminal_id|operational_load_date|
+-----------+--------------+-------------------+-----------------+----------+----------------+---------------+-------------+-------------------+-----------------+-------------+--------------+---------------+-----------------------+------------------+---------------------+--------------------+----------+-----------+--------------------------+---------------------+--------------------+---------------------+----------------+-------------------------+-------------------------+------------------+-------------------+-----------------+--------------------+---------------------+-----------------------+----------------------+--------------------+----------------------+------------------------------+----------------------------+-------------------+----------------+----------------+-------------------+--------------------+-----------------------+---------------------+
|   29354201|            00|                  0|                1|         3|             080|             54|          385|                 15|              618|         8929|  696850618783|               |                       |                 N|                    N|                    |          |           |                 DECLARADO|           2022-06-24|                  01|                 CTES|                |                NORM OPER|                       NE|        2022-06-24|         1900-01-01|       1900-01-01|                    |                     |                       |                      |                    |                      |                      00:00:00|                    00:00:00|         2022-06-24|         A126810|      2022-06-24|            A126810|              085240|                   2429| 2022-11-30 00:42:...|
|   29389432|            00|                  0|                1|         3|             080|             54|           11|                 15|             2550|         6187|  711931820675|               |                       |                 N|                    N|                    |          |           |                 DECLARADO|           2022-06-24|                  01|                 PVTA|                |                NORM AUTO|                  COPDTEL|        2022-06-24|         1900-01-01|       1900-01-01|                    |                     |                       |                      |                    |                      |                      00:00:00|                    00:00:00|         2022-06-24|        VW2CCON0|      2022-06-24|           VW2CCON0|              102004|                   PVTA| 2022-11-30 00:42:...|
|   29382041|            01|                  0|                2|         1|             080|             54|          341|                   |              454|         3113|    3843676600|               |                       |                 N|                    N|                    |          |           |                 DECLARADO|           2022-06-24|                  01|                 CTES|                |                NORM AUTO|                  COPDTEL|        2022-06-24|         1900-01-01|       1900-01-01|                    |                     |                       |                      |                    |                      |                      00:00:00|                    00:00:00|         2022-06-24|         A126228|      2022-06-24|            A126228|              102436|                   Y2GK| 2022-11-30 00:42:...|
|   07395331|            00|                  0|                2|         3|             080|             54|           11|                 15|             3017|         9680|  229013342402|               |                       |                 N|                    N|                    |          |           |                 DECLARADO|           2022-06-24|                  01|                 WKFL|                |                NORM AUTO|                  COPDTEL|        2022-06-24|         1900-01-01|       1900-01-01|                    |                     |                       |                      |                    |                      |                      00:00:00|                    00:00:00|         2022-06-24|         A118094|      2022-06-24|            A118094|              105750|                   P101| 2022-11-30 00:42:...|
|   29349520|            00|                  0|                1|         3|             080|             54|           11|                 15|             4439|         4790|  589625269325|               |                       |                 N|                    N|                    |          |           |                 DECLARADO|           2022-06-24|                  01|                 CTES|                |                NORM AUTO|                   COPDTE|        2022-06-24|         1900-01-01|       1900-01-01|                    |                     |                       |                      |                    |                      |                      00:00:00|                    00:00:00|         2022-06-24|          A33643|      2022-06-24|             A33643|              105847|                   2305| 2022-11-30 00:42:...|
|   29349520|            01|                  0|                2|         3|             080|             54|           11|                 15|             4439|         4790|  589625269325|               |                       |                 N|                    N|                    |          |           |                 DECLARADO|           2022-06-24|                  01|                 CTES|                |                NORM AUTO|                  COPDTEL|        2022-06-24|         1900-01-01|       1900-01-01|                    |                     |                       |                      |                    |                      |                      00:00:00|                    00:00:00|         2022-06-24|          A33643|      2022-06-24|             A33643|              105847|                   2305| 2022-11-30 00:42:...|
|   29390571|            00|                  0|                1|         3|             080|             54|          388|                 15|              514|         3040|  888200805780|               |                       |                 N|                    N|SAN SALVADOR DE J...|     04600|         10|                 DECLARADO|           2022-06-24|                  01|                 CTES|                |                NORM AUTO|                   COPDTE|        2022-08-11|         1900-01-01|       1900-01-01|                    |                     |                       |                      |                    |                      |                      00:00:00|                    00:00:00|         2022-06-24|          A78911|      2022-08-11|            A115116|              092940|                   5159| 2022-11-30 00:42:...|
|   29353393|            00|                  0|                1|         3|             080|             54|         3444|                 15|               52|         3887|  474148675676|               |                       |                 N|                    N|                    |          |           |                COMPROBADO|           2022-06-24|                  01|                 CTES|                |                NORM AUTO|                  COPDTEL|        2022-06-24|         1900-01-01|       1900-01-01|                    |                     |                       |                      |                    |                      |                      00:00:00|                    00:00:00|         2022-06-24|         A127353|      2022-06-26|           PCLUPCRT|              125515|                   OSMS| 2022-11-30 00:42:...|
|   29387501|            01|                  0|                2|         1|             080|             54|         2317|                   |               43|         4879|    2546905684|               |                       |                 N|                    N|                    |          |           |                 DECLARADO|           2022-06-24|                  01|                 CTES|                |                NORM AUTO|                  COPDTEL|        2022-06-24|         1900-01-01|       1900-01-01|                    |                     |                       |                      |                    |                      |                      00:00:00|                    00:00:00|         2022-06-24|         A118960|      2022-06-24|            A118960|              163712|                   Y2IG| 2022-11-30 00:42:...|
|   29391432|            05|                  0|                1|         3|             080|             54|           11|                 15|             5529|         1962|  673397682353|               |                     04|                 N|                    N|                    |          |           |                 DECLARADO|           2022-06-24|                  01|                 CTES|                |                NORM AUTO|                  COPDTEL|        2022-06-24|         2022-06-24|       1900-01-01|                    |                     |                       |                      |                    |                      |                      00:00:00|                    00:00:00|         2022-06-24|        GPROBANK|      2022-06-24|            PCLE20N|              180221|                   BATC| 2022-11-30 00:42:...|
|   29390553|            00|                  0|                1|         3|             080|             54|          351|                 15|              256|         0268|  453595914089|               |                       |                 N|                    N|                    |          |           |                COMPROBADO|           2022-07-02|                  01|                 CTES|                |                NORM AUTO|                  COPDTEL|        2022-07-01|         1900-01-01|       1900-01-01|                    |                     |                       |                      |                    |                      |                      00:00:00|                    00:00:00|         2022-06-24|         A126703|      2022-07-02|               XATM|              164720|                   XATM| 2022-11-30 00:42:...|
|   29389361|            00|                  0|                1|         3|             080|             54|           11|                 15|             5579|         2407|  478405248222|               |                       |                 N|                    N|                    |          |           |                 DECLARADO|           2022-06-25|                  01|                 PVTA|                |                NORM AUTO|                  COPDTEL|        2022-06-25|         1900-01-01|       1900-01-01|                    |                     |                       |                      |                    |                      |                      00:00:00|                    00:00:00|         2022-06-25|        VW2CCON0|      2022-06-25|           VW2CCON0|              021541|                   PVTA| 2022-11-30 00:42:...|
|   29400313|            00|                  0|                1|         3|             080|             54|           11|                 15|             4030|         8325|  043683030098|               |                       |                 N|                    N|                    |          |           |                 DECLARADO|           2022-06-25|                  01|                 CTES|                |                NORM AUTO|                  COPDTEL|        2022-06-27|         1900-01-01|       1900-01-01|                    |                     |                       |                      |                    |                      |                      00:00:00|                    00:00:00|         2022-06-25|        GPROBANK|      2022-06-27|           GPROBANK|              152322|                   LWBE| 2022-11-30 00:42:...|
|   29401025|            00|                  0|                1|         3|             080|             54|           11|                 15|             2288|         8738|  008725729120|               |                       |                 N|                    N|                    |          |           |                COMPROBADO|           2022-06-26|                  01|                 PVTA|                |                NORM AUTO|                  COPDTEL|        2022-06-26|         1900-01-01|       1900-01-01|                    |                     |                       |                      |                    |                      |                      00:00:00|                    00:00:00|         2022-06-26|        VW2CCON0|      2022-07-12|           PCLUPCRT|              215455|                   OSMS| 2022-11-30 00:42:...|
|   29401299|            00|                  0|                1|         3|             080|             54|         0011|                 15|             6761|         8843|09893903230068|               |                       |                 N|                    N|                    |          |           |                 DECLARADO|           2022-06-27|                  01|                 CTES|                |                         |                         |        1900-01-01|         1900-01-01|       1900-01-01|                    |                     |                       |                      |                    |                      |                      00:00:00|                    00:00:00|         2022-06-27|        GPROBANK|      2022-06-27|           GPROBANK|              184500|                   LWAW| 2022-11-30 00:42:...|
|   29325999|            00|                  0|                2|         3|             080|             54|          342|                 15|              479|         9696|  466813319125|               |                       |                 N|                    N|                    |          |           |                 DECLARADO|           2022-06-26|                  01|                 PVTA|                |                NORM AUTO|                  COPDTEL|        2022-06-26|         1900-01-01|       1900-01-01|                    |                     |                       |                      |                    |                      |                      00:00:00|                    00:00:00|         2022-06-26|        VW2CCON0|      2022-06-26|           VW2CCON0|              222823|                   PVTA| 2022-11-30 00:42:...|
|   29402665|            00|                  0|                1|         3|             080|             54|         3564|                 15|               33|         7284|  443220384448|               |                       |                 N|                    N|       SAN FRANCISCO|     02400|         04|                 DECLARADO|           2022-06-27|                  01|                 CTES|                |                NORM AUTO|                   COPDTE|        2022-06-27|         1900-01-01|       1900-01-01|                    |                     |                       |                      |                    |                      |                      00:00:00|                    00:00:00|         2022-06-27|         A116108|      2022-06-27|            A116108|              124517|                   6104| 2022-11-30 00:42:...|
|   29402665|            00|                  0|                2|         3|             080|             54|         3564|                 15|               33|         3190|  538542198741|               |                       |                 N|                    N|                    |          |           |                 DECLARADO|           2022-06-27|                  01|                 CTES|                |                NORM AUTO|                  COPDTEL|        2022-06-27|         1900-01-01|       1900-01-01|                    |                     |                       |                      |                    |                      |                      00:00:00|                    00:00:00|         2022-06-27|         A116108|      2022-06-27|            A116108|              124517|                   6104| 2022-11-30 00:42:...|
|   29375587|            00|                  0|                1|         3|             080|             54|          221|                 15|              692|         9792|  061269423380|               |                       |                 N|                    N|                    |          |           |                COMPROBADO|           2022-10-03|                  01|                 CTES|                |                NORM AUTO|                     COSM|        2022-10-03|         1900-01-01|       1900-01-01|                    |                     |                       |                      |                    |                      |                      00:00:00|                    00:00:00|         2022-10-03|         A127599|      2022-10-03|           PCLUPCRT|              132855|                   OSMS| 2022-11-30 00:42:...|

## **JOINS ENTRE TABLAS (BBVAW2T1-24/25/26)**

In [ ]:
#Cambio formato de columna
df_phones = df_phones.withColumn("phone_area_id", F.col("phone_area_id").cast("integer"))
df_phones = df_phones.withColumn("phone_number", F.concat(F.lit("+"), F.col("prefix_phone_id"), F.lit(" "), F.col("phone_area_id"), F.lit(" "), F.col("cellphone_prefix_id"), F.lit(" "), F.col("phone_exchange_id"), F.col("phone_line_id")))

In [ ]:
#Join entre clientes y telefonos
df_customer_basics_phones = df_customer_basics.join(df_phones, ['customer_id'], how='left').select(df_customer_basics.customer_id, df_phones.phone_type, df_phones.phone_number, df_phones.last_change_date)
df_customer_basics_phones.sort(F.asc("customer_id")).show(10)

+-----------+----------+-------------------+----------------+
|customer_id|phone_type|       phone_number|last_change_date|
+-----------+----------+-------------------+----------------+
|   00000442|         3| +54 297 15 5296284|      2022-07-20|
|   00000442|         3| +54 297 15 4729337|      2022-07-20|
|   00001419|         3| +54 11 15 66793207|      2022-11-01|
|   00001939|         3| +54 11 15 38700150|      2022-09-21|
|   00002575|      null|               null|            null|
|   00002707|         1|   +54 299  4477116|      2022-08-17|
|   00002790|         3| +54 342 15 4662478|      2022-11-18|
|   00002790|         1|   +54 342  4883620|      2022-10-08|
|   00004287|         3|+54 3541 15 5988799|      2022-08-29|
|   00004724|         3| +54 11 15 24084447|      2022-11-04|
+-----------+----------+-------------------+----------------+
only showing top 10 rows

In [ ]:
#Join entre clientes e email
df_customer_basics_email = df_customer_basics.join(df_email,['customer_id'], how='left').select(df_customer_basics.customer_id, df_email.email_desc, df_email.last_change_date)
df_customer_basics_email.show()

+-----------+--------------------+----------------+
|customer_id|          email_desc|last_change_date|
+-----------+--------------------+----------------+
|   07867437|                null|            null|
|   06813266|                null|            null|
|   29604216|                null|            null|
|   28028529|                null|            null|
|   28366580|                null|            null|
|   02746969|                null|            null|
|   23441482|                null|            null|
|   23610540|                null|            null|
|   25935956|                null|            null|
|   25848977|                null|            null|
|   01957163|                null|            null|
|   06338965|                null|            null|
|   29676364|                null|            null|
|   26205399|   DIONISI@YAHOO.COM|      2019-12-27|
|   03933825|DIGITALIZACION@EE...|      1900-01-01|
|   29416245|                null|            null|
|   29497813|                null|            null|
|   02568856|                null|            null|
|   29681573|                null|            null|
|   04348412|                null|            null|
+-----------+--------------------+----------------+
only showing top 20 rows

In [ ]:
df_address = df_address.withColumn("full_address", F.concat(F.col("street_name"), F.lit(" "), F.concat(F.col("address_outdoor_id"), F.lit(" "), F.col("address_indoor_id"), F.lit(" "), F.col("indoor_number"), F.col("address_town_name"), F.lit(" "), F.col("address_department_name"), F.lit(" "), F.col("zipcode_id"))))

In [ ]:
#join entre clientes y direccion
df_customer_basics_address = df_customer_basics.join(df_address,['customer_id'], how='left').select(df_customer_basics.customer_id, 'full_address', df_address.last_change_date)
df_customer_basics_address.show()

+-----------+--------------------+----------------+
|customer_id|        full_address|last_change_date|
+-----------+--------------------+----------------+
|   07867437|ALTE FRANCISCO SE...|      2009-01-26|
|   06813266|EL TORDO         ...|      2009-01-26|
|   29604216|                null|            null|
|   28028529|AMENEDO          ...|      2009-01-26|
|   28366580|INCA AAA         ...|            null|
|   28366580|INCA             ...|      2011-07-01|
|   02746969|MERCEDES         ...|      2009-01-26|
|   23441482|AV 39            ...|      2011-07-01|
|   23610540|                null|            null|
|   25935956|AV FERNANDEZ DE L...|      2009-01-26|
|   25848977|                null|            null|
|   01957163|JOSE M DE MINOGUY...|      2009-01-26|
|   06338965|MADERO DR FRANCIS...|      2009-01-26|
|   29676364|                null|            null|
|   26205399|SUIPACHA         ...|      2009-01-26|
|   03933825|HENRY DUNANT     ...|      2009-01-26|
|   29416245|                null|            null|
|   29497813|                null|            null|
|   02568856|CLAUDIO MAMERTO C...|      2009-01-26|
|   29681573|                null|            null|
+-----------+--------------------+----------------+
only showing top 20 rows

## **FILTRADO Y REDUCCION DE DATOS --> PHONES (BBVAW2T1-27/61)**

In [ ]:
#Hago una ventana por el customer_id y ordenado por la ultima actualizacion 
w = Window.partitionBy(df_customer_basics_phones['customer_id']).orderBy("last_change_date")

In [ ]:
#Agrego columna que cuente la cantidad de veces que se repite el ID
df_customer_basics_phones = df_customer_basics_phones.withColumn("row_num", row_number().over(w))

In [ ]:
#Corto el dataframe quedandome con las ultimas 3 actualizaciones
df_customer_basics_phones = df_customer_basics_phones.filter(col("row_num") <= 3)

In [ ]:
#Reacomodo la tabla con las columnas de interes y concatenando una nueva
df_customer_basics_phones = df_customer_basics_phones.select('customer_id', 'phone_type', 'phone_number', 'row_num')
df_customer_basics_phones.show(10)

+-----------+----------+-------------------+-------+
|customer_id|phone_type|       phone_number|row_num|
+-----------+----------+-------------------+-------+
|   00000442|         3| +54 297 15 5296284|      1|
|   00000442|         3| +54 297 15 4729337|      2|
|   00001419|         3| +54 11 15 66793207|      1|
|   00001939|         3| +54 11 15 38700150|      1|
|   00002575|      null|               null|      1|
|   00002707|         1|   +54 299  4477116|      1|
|   00002790|         1|   +54 342  4883620|      1|
|   00002790|         3| +54 342 15 4662478|      2|
|   00004287|         3|+54 3541 15 5988799|      1|
|   00004724|         3| +54 11 15 24084447|      1|
+-----------+----------+-------------------+-------+
only showing top 10 rows

In [ ]:
#creo una funcion pivot para una columna especificada y cambiarle el nombre a las nuevas.   
df_final_customer_phones = df_customer_basics_phones.groupBy("customer_id").pivot("row_num").agg(first('phone_number'))
df_final_customer_phones = df_final_customer_phones.withColumnRenamed("1", 'phone_number' + "_1") \
       .withColumnRenamed("2", 'phone_number' + "_2") \
       .withColumnRenamed("3", 'phone_number' + "_3")

In [ ]:
df_final_customer_phones.show()

+-----------+-------------------+------------------+--------------+
|customer_id|     phone_number_1|    phone_number_2|phone_number_3|
+-----------+-------------------+------------------+--------------+
|   00000442| +54 297 15 5296284|+54 297 15 4729337|          null|
|   00001419| +54 11 15 66793207|              null|          null|
|   00001939| +54 11 15 38700150|              null|          null|
|   00002575|               null|              null|          null|
|   00002707|   +54 299  4477116|              null|          null|
|   00002790|   +54 342  4883620|+54 342 15 4662478|          null|
|   00004287|+54 3541 15 5988799|              null|          null|
|   00004724| +54 11 15 24084447|              null|          null|
|   00007932| +54 385 15 4065887|              null|          null|
|   00011850| +54 11 15 25781080|+54 3489 15 493578|          null|
|   00012051| +54 3401 15 534381|              null|          null|
|   00012611|   +54 11  43443165|+54 11 15 61141855|          null|
|   00012991|               null|              null|          null|
|   00013498| +54 221 15 6208511|              null|          null|
|   00014664| +54 11 15 65050605|              null|          null|
|   00015497| +54 11 15 51052460|              null|          null|
|   00051576| +54 11 15 26531080|              null|          null|
|   00053993| +54 3718 15 466655|              null|          null|
|   00056407| +54 336 15 4577255|              null|          null|
|   00056947| +54 297 15 4301718|+54 297 15 4577276|          null|
+-----------+-------------------+------------------+--------------+
only showing top 20 rows

## **FILTRADO Y REDUCCION DE DATOS --> ADDRESS (BBVAW2T1-28)**

In [ ]:
#Hago una ventana por el customer_id y ordenado por la ultima actualizacion 
w = Window.partitionBy(df_customer_basics_address['customer_id']).orderBy("last_change_date")

In [ ]:
#Agrego columna que cuente la cantidad de veces que se repite el ID
df_customer_basics_address = df_customer_basics_address.withColumn("row_num", row_number().over(w))

In [ ]:
#Corto el dataframe quedandome con las ultimas 3 actualizaciones
df_customer_basics_address = df_customer_basics_address.filter(col("row_num") <= 3)

In [ ]:
#Reacomodo la tabla con las columnas de interes.
df_customer_basics_address = df_customer_basics_address.select('customer_id', 'full_address', 'row_num')
df_customer_basics_address.show(10)

+-----------+--------------------+-------+
|customer_id|        full_address|row_num|
+-----------+--------------------+-------+
|   00000442|AGUERO           ...|      1|
|   00001419|ALTE G BROWN     ...|      1|
|   00001939|JOSE HERNANDEZ   ...|      1|
|   00002575|                null|      1|
|   00002707|GUATEMALA        ...|      1|
|   00002790|AV CORDOBA       ...|      1|
|   00004287|CNEL DE MARINA RO...|      1|
|   00004724|PJE MUTUALISMO   ...|      1|
|   00007932|AV FELIX DE OLAZA...|      1|
|   00011850|JUNCAL           ...|      1|
+-----------+--------------------+-------+
only showing top 10 rows

In [ ]:
#creo una funcion pivot para una columna especificada y cambiarle el nombre a las nuevas.
  
df_final_customer_address = df_customer_basics_address.groupBy("customer_id").pivot("row_num").agg(first('full_address'))
df_final_customer_address = df_final_customer_address.withColumnRenamed("1", 'full_address' + "_1") \
       .withColumnRenamed("2", 'full_address' + "_2") \
       .withColumnRenamed("3", 'full_address' + "_3")

In [ ]:
df_final_customer_address.show()

+-----------+--------------------+--------------+--------------+
|customer_id|      full_address_1|full_address_2|full_address_3|
+-----------+--------------------+--------------+--------------+
|   00000442|AGUERO           ...|          null|          null|
|   00001419|ALTE G BROWN     ...|          null|          null|
|   00001939|JOSE HERNANDEZ   ...|          null|          null|
|   00002575|                null|          null|          null|
|   00002707|GUATEMALA        ...|          null|          null|
|   00002790|AV CORDOBA       ...|          null|          null|
|   00004287|CNEL DE MARINA RO...|          null|          null|
|   00004724|PJE MUTUALISMO   ...|          null|          null|
|   00007932|AV FELIX DE OLAZA...|          null|          null|
|   00011850|JUNCAL           ...|          null|          null|
|   00012051|AV GRAL JOSE MARI...|          null|          null|
|   00012611|ALBERTO LARROQUE ...|          null|          null|
|   00012991|                null|          null|          null|
|   00013498|AV PTE H YRIGOYEN...|          null|          null|
|   00014664|AV TRIUNVIRATO   ...|          null|          null|
|   00015497|VUELTA DE OBLIGAD...|          null|          null|
|   00051576|ING GUILLERMO MAR...|          null|          null|
|   00053993|CALLE 899        ...|          null|          null|
|   00056407|AV DR J BAUTISTA ...|          null|          null|
|   00056947|AV 25 DE MAYO    ...|          null|          null|
+-----------+--------------------+--------------+--------------+
only showing top 20 rows

## **FILTRADO Y REDUCCION DE DATOS --> EMAILS (BBVAW2T1-29)**

In [ ]:
#Filtrado y reduccion de datos --> EMAILS
w = Window.partitionBy(df_customer_basics_email['customer_id']).orderBy("last_change_date")

In [ ]:
df_customer_basics_email = df_customer_basics_email.withColumn("row_num", row_number().over(w))

In [ ]:
df_customer_basics_email = df_customer_basics_email.filter(col("row_num") <= 3)

In [ ]:
df_customer_basics_email.show(10)

+-----------+--------------------+----------------+-------+
|customer_id|          email_desc|last_change_date|row_num|
+-----------+--------------------+----------------+-------+
|   00000442|                null|            null|      1|
|   00001419|EMILIA.RUBIANES@H...|      2015-10-08|      1|
|   00001419|  JU_LY1@HOTMAIL.COM|      2019-05-11|      2|
|   00001939|                null|            null|      1|
|   00002575|                null|            null|      1|
|   00002707|                null|            null|      1|
|   00002790|DIGITALIZACION@EE...|      1900-01-01|      1|
|   00002790| NOTIENE@HOIMAIL.COM|      2019-07-29|      2|
|   00004287|                null|            null|      1|
|   00004724|                null|            null|      1|
+-----------+--------------------+----------------+-------+
only showing top 10 rows

In [ ]:
#Hago primer pivot para dejar una fila por ID y tener cada email en columnas separadas
df_final_customer_email = df_customer_basics_email.groupBy("customer_id").pivot("row_num").agg(first("email_desc"))
df_final_customer_email = df_final_customer_email.withColumnRenamed("1", "email_1") \
       .withColumnRenamed("2", "email_2") \
       .withColumnRenamed("3", "email_3")
df_final_customer_email.show()

+-----------+--------------------+-------------------+-------+
|customer_id|             email_1|            email_2|email_3|
+-----------+--------------------+-------------------+-------+
|   00000442|                null|               null|   null|
|   00001419|EMILIA.RUBIANES@H...| JU_LY1@HOTMAIL.COM|   null|
|   00001939|                null|               null|   null|
|   00002575|                null|               null|   null|
|   00002707|                null|               null|   null|
|   00002790|DIGITALIZACION@EE...|NOTIENE@HOIMAIL.COM|   null|
|   00004287|                null|               null|   null|
|   00004724|                null|               null|   null|
|   00007932|                null|               null|   null|
|   00011850|                null|               null|   null|
|   00012051|                null|               null|   null|
|   00012611|                null|               null|   null|
|   00012991|                null|               null|   null|
|   00013498|                null|               null|   null|
|   00014664|   alq@ciudad.com.ar|               null|   null|
|   00015497|                null|               null|   null|
|   00051576|                null|               null|   null|
|   00053993|                null|               null|   null|
|   00056407|NELLY.S.GEREZ@GMA...|               null|   null|
|   00056947|                null|               null|   null|
+-----------+--------------------+-------------------+-------+
only showing top 20 rows

## **AGREGAR COLUMNA CONTACT TYPE A LOS DATAFRAME (BBVAW2T1-30)**

In [ ]:
df_final_customer_address = df_final_customer_address.withColumn("Contact_type", lit('Address'))
df_final_customer_email = df_final_customer_email.withColumn("Contact_type", lit('Email'))
df_final_customer_phones = df_final_customer_phones.withColumn("Contact_type", lit('Phone'))

In [ ]:
#Reemplazo los valores en Tipo de Contacto que son null
df_final_customer_address = df_final_customer_address.withColumn("Contact_type", F.when(F.col("full_address_1").isNull(), F.lit(" ")).otherwise(F.lit("address")))
df_final_customer_phones = df_final_customer_phones.withColumn("Contact_type", F.when(F.col("phone_number_1").isNull(), F.lit(" ")).otherwise(F.lit("phone")))
df_final_customer_email = df_final_customer_email.withColumn("Contact_type", F.when(F.col("email_1").isNull(), F.lit(" ")).otherwise(F.lit("email")))

In [ ]:
df_final_customer_address.show()

+-----------+--------------------+--------------+--------------+------------+
|customer_id|      full_address_1|full_address_2|full_address_3|Contact_type|
+-----------+--------------------+--------------+--------------+------------+
|   00000442|AGUERO           ...|          null|          null|     address|
|   00001419|ALTE G BROWN     ...|          null|          null|     address|
|   00001939|JOSE HERNANDEZ   ...|          null|          null|     address|
|   00002575|                null|          null|          null|            |
|   00002707|GUATEMALA        ...|          null|          null|     address|
|   00002790|AV CORDOBA       ...|          null|          null|     address|
|   00004287|CNEL DE MARINA RO...|          null|          null|     address|
|   00004724|PJE MUTUALISMO   ...|          null|          null|     address|
|   00007932|AV FELIX DE OLAZA...|          null|          null|     address|
|   00011850|JUNCAL           ...|          null|          null|     address|
|   00012051|AV GRAL JOSE MARI...|          null|          null|     address|
|   00012611|ALBERTO LARROQUE ...|          null|          null|     address|
|   00012991|                null|          null|          null|            |
|   00013498|AV PTE H YRIGOYEN...|          null|          null|     address|
|   00014664|AV TRIUNVIRATO   ...|          null|          null|     address|
|   00015497|VUELTA DE OBLIGAD...|          null|          null|     address|
|   00051576|ING GUILLERMO MAR...|          null|          null|     address|
|   00053993|CALLE 899        ...|          null|          null|     address|
|   00056407|AV DR J BAUTISTA ...|          null|          null|     address|
|   00056947|AV 25 DE MAYO    ...|          null|          null|     address|
+-----------+--------------------+--------------+--------------+------------+
only showing top 20 rows

## **AGREGAR COLUMNA DE JSON A TELEFONO (BBVAW2T1-31)**

In [ ]:
df_final_customer_phones = df_final_customer_phones.withColumn("phone_number_1_to_json", F.when(F.col("phone_number_1").isNull(), F.lit("sin_dato")).otherwise(F.col("phone_number_1")))
df_final_customer_phones = df_final_customer_phones.withColumn("phone_number_1_json", F.to_json(F.struct("phone_number_1_to_json")))

In [ ]:
df_final_customer_phones.count()

1614

## **AGREGAR COLUMNA DE JSON A DOMICILIO (BBVAW2T1-32)**

In [ ]:
df_final_customer_address = df_final_customer_address.withColumn("full_address_1_to_json", F.when(F.col("full_address_1").isNull(), F.lit("sin_dato")).otherwise(F.col("full_address_1")))
df_final_customer_address = df_final_customer_address.withColumn("full_address_1_json", F.to_json(F.struct("full_address_1_to_json")))

In [ ]:
df_final_customer_email.count()

1614

In [ ]:
df_final_customer_address.select(F.collect_list('full_address_1_json')).first()[0]

## **JOIN TABLAS DE CONTACTOS (BBVAW2T1-33)**

In [ ]:
#cambiando el primer campo podemos hacer el join de las tres bases.
df_final_customer_phones = df_final_customer_phones.withColumnRenamed('customer_id','customer_id_B')

In [ ]:
df_final = df_final_customer_phones.join(df_final_customer_email, df_final_customer_phones.customer_id_B == df_final_customer_email.customer_id, how = "left")
df_final = df_final.drop("customer_id")
df_final = df_final.join(df_final_customer_address, df_final.customer_id_B == df_final_customer_address.customer_id, how = "left")
df_final = df_final.drop("customer_id")
df_final = df_final.withColumnRenamed('customer_id_B','customer_id')

In [ ]:
df_final.show()

+-----------+-------------------+------------------+--------------+------------+----------------------+--------------------+--------------------+-------------------+-------+------------+--------------------+--------------+--------------+------------+----------------------+--------------------+
|customer_id|     phone_number_1|    phone_number_2|phone_number_3|Contact_type|phone_number_1_to_json| phone_number_1_json|             email_1|            email_2|email_3|Contact_type|      full_address_1|full_address_2|full_address_3|Contact_type|full_address_1_to_json| full_address_1_json|
+-----------+-------------------+------------------+--------------+------------+----------------------+--------------------+--------------------+-------------------+-------+------------+--------------------+--------------+--------------+------------+----------------------+--------------------+
|   00000442| +54 297 15 5296284|+54 297 15 4729337|          null|       phone|    +54 297 15 5296284|{"phone_number_1_...|                null|               null|   null|            |AGUERO           ...|          null|          null|     address|  AGUERO           ...|{"full_address_1_...|
|   00001419| +54 11 15 66793207|              null|          null|       phone|    +54 11 15 66793207|{"phone_number_1_...|EMILIA.RUBIANES@H...| JU_LY1@HOTMAIL.COM|   null|       email|ALTE G BROWN     ...|          null|          null|     address|  ALTE G BROWN     ...|{"full_address_1_...|
|   00001939| +54 11 15 38700150|              null|          null|       phone|    +54 11 15 38700150|{"phone_number_1_...|                null|               null|   null|            |JOSE HERNANDEZ   ...|          null|          null|     address|  JOSE HERNANDEZ   ...|{"full_address_1_...|
|   00002575|               null|              null|          null|            |              sin_dato|{"phone_number_1_...|                null|               null|   null|            |                null|          null|          null|            |              sin_dato|{"full_address_1_...|
|   00002707|   +54 299  4477116|              null|          null|       phone|      +54 299  4477116|{"phone_number_1_...|                null|               null|   null|            |GUATEMALA        ...|          null|          null|     address|  GUATEMALA        ...|{"full_address_1_...|
|   00002790|   +54 342  4883620|+54 342 15 4662478|          null|       phone|      +54 342  4883620|{"phone_number_1_...|DIGITALIZACION@EE...|NOTIENE@HOIMAIL.COM|   null|       email|AV CORDOBA       ...|          null|          null|     address|  AV CORDOBA       ...|{"full_address_1_...|
|   00004287|+54 3541 15 5988799|              null|          null|       phone|   +54 3541 15 5988799|{"phone_number_1_...|                null|               null|   null|            |CNEL DE MARINA RO...|          null|          null|     address|  CNEL DE MARINA RO...|{"full_address_1_...|
|   00004724| +54 11 15 24084447|              null|          null|       phone|    +54 11 15 24084447|{"phone_number_1_...|                null|               null|   null|            |PJE MUTUALISMO   ...|          null|          null|     address|  PJE MUTUALISMO   ...|{"full_address_1_...|
|   00007932| +54 385 15 4065887|              null|          null|       phone|    +54 385 15 4065887|{"phone_number_1_...|                null|               null|   null|            |AV FELIX DE OLAZA...|          null|          null|     address|  AV FELIX DE OLAZA...|{"full_address_1_...|
|   00011850| +54 11 15 25781080|+54 3489 15 493578|          null|       phone|    +54 11 15 25781080|{"phone_number_1_...|                null|               null|   null|            |JUNCAL           ...|          null|          null|     address|  JUNCAL           ...|{"full_address_1_...|
|   00012051| +54 3401 15 534381|              null|          null|       phone|    +54 3401 15 534381|{"phone_number_1_...|                null|               null|   null|            |AV GRAL JOSE MARI...|          null|          null|     address|  AV GRAL JOSE MARI...|{"full_address_1_...|
|   00012611|   +54 11  43443165|+54 11 15 61141855|          null|       phone|      +54 11  43443165|{"phone_number_1_...|                null|               null|   null|            |ALBERTO LARROQUE ...|          null|          null|     address|  ALBERTO LARROQUE ...|{"full_address_1_...|
|   00012991|               null|              null|          null|            |              sin_dato|{"phone_number_1_...|                null|               null|   null|            |                null|          null|          null|            |              sin_dato|{"full_address_1_...|
|   00013498| +54 221 15 6208511|              null|          null|       phone|    +54 221 15 6208511|{"phone_number_1_...|                null|               null|   null|            |AV PTE H YRIGOYEN...|          null|          null|     address|  AV PTE H YRIGOYEN...|{"full_address_1_...|
|   00014664| +54 11 15 65050605|              null|          null|       phone|    +54 11 15 65050605|{"phone_number_1_...|   alq@ciudad.com.ar|               null|   null|       email|AV TRIUNVIRATO   ...|          null|          null|     address|  AV TRIUNVIRATO   ...|{"full_address_1_...|
|   00015497| +54 11 15 51052460|              null|          null|       phone|    +54 11 15 51052460|{"phone_number_1_...|                null|               null|   null|            |VUELTA DE OBLIGAD...|          null|          null|     address|  VUELTA DE OBLIGAD...|{"full_address_1_...|
|   00051576| +54 11 15 26531080|              null|          null|       phone|    +54 11 15 26531080|{"phone_number_1_...|                null|               null|   null|            |ING GUILLERMO MAR...|          null|          null|     address|  ING GUILLERMO MAR...|{"full_address_1_...|
|   00053993| +54 3718 15 466655|              null|          null|       phone|    +54 3718 15 466655|{"phone_number_1_...|                null|               null|   null|            |CALLE 899        ...|          null|          null|     address|  CALLE 899        ...|{"full_address_1_...|
|   00056407| +54 336 15 4577255|              null|          null|       phone|    +54 336 15 4577255|{"phone_number_1_...|NELLY.S.GEREZ@GMA...|               null|   null|       email|AV DR J BAUTISTA ...|          null|          null|     address|  AV DR J BAUTISTA ...|{"full_address_1_...|
|   00056947| +54 297 15 4301718|+54 297 15 4577276|          null|       phone|    +54 297 15 4301718|{"phone_number_1_...|                null|               null|   null|            |AV 25 DE MAYO    ...|          null|          null|     address|  AV 25 DE MAYO    ...|{"full_address_1_...|
+-----------+-------------------+------------------+--------------+------------+----------------------+--------------------+--------------------+-------------------+-------+------------+--------------------+--------------+--------------+------------+----------------------+--------------------+
only showing top 20 rows

## **RESGUARDAR 3 CONTACTOS DE CLIENTES (BBVAW2T1-34)**

In [ ]:
# Crear las nuevas columnas con valores no nulos de las columnas de contactos, priorizando Telefono, Mail o dirección
df_final = df_final.withColumn("contacto_1", coalesce("phone_number_1", "phone_number_2", "phone_number_3", "email_1", "email_2", "email_3", "full_address_1", "full_address_1", "full_address_1"))
df_final = df_final.withColumn("contacto_2", coalesce("phone_number_2", "phone_number_3", "email_1", "email_2", "email_3", "full_address_1", "full_address_2", "full_address_3"))
df_final = df_final.withColumn("contacto_3", coalesce("phone_number_3", "email_1", "email_1", "email_1", "full_address_1", "full_address_2", "full_address_3", 
                                        expr("coalesce(email_1, email_2, email_3, full_address_1, full_address_2, full_address_3)")))

df_final = df_final.withColumn("contacto_2", 
                               when(col("contacto_2").isin(col("contacto_1")), None)
                               .otherwise(col("contacto_2")))
df_final = df_final.withColumn("contacto_3", 
                               when(col("contacto_3").isin(col("contacto_1"), col("contacto_2")), None)
                               .otherwise(col("contacto_3")))

df_final.show()

+-----------+-------------------+------------------+--------------+------------+----------------------+--------------------+--------------------+-------------------+-------+------------+--------------------+--------------+--------------+------------+----------------------+--------------------+-------------------+--------------------+--------------------+
|customer_id|     phone_number_1|    phone_number_2|phone_number_3|Contact_type|phone_number_1_to_json| phone_number_1_json|             email_1|            email_2|email_3|Contact_type|      full_address_1|full_address_2|full_address_3|Contact_type|full_address_1_to_json| full_address_1_json|         contacto_1|          contacto_2|          contacto_3|
+-----------+-------------------+------------------+--------------+------------+----------------------+--------------------+--------------------+-------------------+-------+------------+--------------------+--------------+--------------+------------+----------------------+--------------------+-------------------+--------------------+--------------------+
|   00000442| +54 297 15 5296284|+54 297 15 4729337|          null|       phone|    +54 297 15 5296284|{"phone_number_1_...|                null|               null|   null|            |AGUERO           ...|          null|          null|     address|  AGUERO           ...|{"full_address_1_...| +54 297 15 5296284|  +54 297 15 4729337|AGUERO           ...|
|   00001419| +54 11 15 66793207|              null|          null|       phone|    +54 11 15 66793207|{"phone_number_1_...|EMILIA.RUBIANES@H...| JU_LY1@HOTMAIL.COM|   null|       email|ALTE G BROWN     ...|          null|          null|     address|  ALTE G BROWN     ...|{"full_address_1_...| +54 11 15 66793207|EMILIA.RUBIANES@H...|EMILIA.RUBIANES@H...|
|   00001939| +54 11 15 38700150|              null|          null|       phone|    +54 11 15 38700150|{"phone_number_1_...|                null|               null|   null|            |JOSE HERNANDEZ   ...|          null|          null|     address|  JOSE HERNANDEZ   ...|{"full_address_1_...| +54 11 15 38700150|JOSE HERNANDEZ   ...|JOSE HERNANDEZ   ...|
|   00002575|               null|              null|          null|            |              sin_dato|{"phone_number_1_...|                null|               null|   null|            |                null|          null|          null|            |              sin_dato|{"full_address_1_...|               null|                null|                null|
|   00002707|   +54 299  4477116|              null|          null|       phone|      +54 299  4477116|{"phone_number_1_...|                null|               null|   null|            |GUATEMALA        ...|          null|          null|     address|  GUATEMALA        ...|{"full_address_1_...|   +54 299  4477116|GUATEMALA        ...|GUATEMALA        ...|
|   00002790|   +54 342  4883620|+54 342 15 4662478|          null|       phone|      +54 342  4883620|{"phone_number_1_...|DIGITALIZACION@EE...|NOTIENE@HOIMAIL.COM|   null|       email|AV CORDOBA       ...|          null|          null|     address|  AV CORDOBA       ...|{"full_address_1_...|   +54 342  4883620|  +54 342 15 4662478|DIGITALIZACION@EE...|
|   00004287|+54 3541 15 5988799|              null|          null|       phone|   +54 3541 15 5988799|{"phone_number_1_...|                null|               null|   null|            |CNEL DE MARINA RO...|          null|          null|     address|  CNEL DE MARINA RO...|{"full_address_1_...|+54 3541 15 5988799|CNEL DE MARINA RO...|CNEL DE MARINA RO...|
|   00004724| +54 11 15 24084447|              null|          null|       phone|    +54 11 15 24084447|{"phone_number_1_...|                null|               null|   null|            |PJE MUTUALISMO   ...|          null|          null|     address|  PJE MUTUALISMO   ...|{"full_address_1_...| +54 11 15 24084447|PJE MUTUALISMO   ...|PJE MUTUALISMO   ...|
|   00007932| +54 385 15 4065887|              null|          null|       phone|    +54 385 15 4065887|{"phone_number_1_...|                null|               null|   null|            |AV FELIX DE OLAZA...|          null|          null|     address|  AV FELIX DE OLAZA...|{"full_address_1_...| +54 385 15 4065887|AV FELIX DE OLAZA...|AV FELIX DE OLAZA...|
|   00011850| +54 11 15 25781080|+54 3489 15 493578|          null|       phone|    +54 11 15 25781080|{"phone_number_1_...|                null|               null|   null|            |JUNCAL           ...|          null|          null|     address|  JUNCAL           ...|{"full_address_1_...| +54 11 15 25781080|  +54 3489 15 493578|JUNCAL           ...|
|   00012051| +54 3401 15 534381|              null|          null|       phone|    +54 3401 15 534381|{"phone_number_1_...|                null|               null|   null|            |AV GRAL JOSE MARI...|          null|          null|     address|  AV GRAL JOSE MARI...|{"full_address_1_...| +54 3401 15 534381|AV GRAL JOSE MARI...|AV GRAL JOSE MARI...|
|   00012611|   +54 11  43443165|+54 11 15 61141855|          null|       phone|      +54 11  43443165|{"phone_number_1_...|                null|               null|   null|            |ALBERTO LARROQUE ...|          null|          null|     address|  ALBERTO LARROQUE ...|{"full_address_1_...|   +54 11  43443165|  +54 11 15 61141855|ALBERTO LARROQUE ...|
|   00012991|               null|              null|          null|            |              sin_dato|{"phone_number_1_...|                null|               null|   null|            |                null|          null|          null|            |              sin_dato|{"full_address_1_...|               null|                null|                null|
|   00013498| +54 221 15 6208511|              null|          null|       phone|    +54 221 15 6208511|{"phone_number_1_...|                null|               null|   null|            |AV PTE H YRIGOYEN...|          null|          null|     address|  AV PTE H YRIGOYEN...|{"full_address_1_...| +54 221 15 6208511|AV PTE H YRIGOYEN...|AV PTE H YRIGOYEN...|
|   00014664| +54 11 15 65050605|              null|          null|       phone|    +54 11 15 65050605|{"phone_number_1_...|   alq@ciudad.com.ar|               null|   null|       email|AV TRIUNVIRATO   ...|          null|          null|     address|  AV TRIUNVIRATO   ...|{"full_address_1_...| +54 11 15 65050605|   alq@ciudad.com.ar|   alq@ciudad.com.ar|
|   00015497| +54 11 15 51052460|              null|          null|       phone|    +54 11 15 51052460|{"phone_number_1_...|                null|               null|   null|            |VUELTA DE OBLIGAD...|          null|          null|     address|  VUELTA DE OBLIGAD...|{"full_address_1_...| +54 11 15 51052460|VUELTA DE OBLIGAD...|VUELTA DE OBLIGAD...|
|   00051576| +54 11 15 26531080|              null|          null|       phone|    +54 11 15 26531080|{"phone_number_1_...|                null|               null|   null|            |ING GUILLERMO MAR...|          null|          null|     address|  ING GUILLERMO MAR...|{"full_address_1_...| +54 11 15 26531080|ING GUILLERMO MAR...|ING GUILLERMO MAR...|
|   00053993| +54 3718 15 466655|              null|          null|       phone|    +54 3718 15 466655|{"phone_number_1_...|                null|               null|   null|            |CALLE 899        ...|          null|          null|     address|  CALLE 899        ...|{"full_address_1_...| +54 3718 15 466655|CALLE 899        ...|CALLE 899        ...|
|   00056407| +54 336 15 4577255|              null|          null|       phone|    +54 336 15 4577255|{"phone_number_1_...|NELLY.S.GEREZ@GMA...|               null|   null|       email|AV DR J BAUTISTA ...|          null|          null|     address|  AV DR J BAUTISTA ...|{"full_address_1_...| +54 336 15 4577255|NELLY.S.GEREZ@GMA...|NELLY.S.GEREZ@GMA...|
|   00056947| +54 297 15 4301718|+54 297 15 4577276|          null|       phone|    +54 297 15 4301718|{"phone_number_1_...|                null|               null|   null|            |AV 25 DE MAYO    ...|          null|          null|     address|  AV 25 DE MAYO    ...|{"full_address_1_...| +54 297 15 4301718|  +54 297 15 4577276|AV 25 DE MAYO    ...|
+-----------+-------------------+------------------+--------------+------------+----------------------+--------------------+--------------------+-------------------+-------+------------+--------------------+--------------+--------------+------------+----------------------+--------------------+-------------------+--------------------+--------------------+
only showing top 20 rows

## **VISTA TEMPORAL DE CONTACTOS --> BBVAW2T1-35**

In [ ]:
df_final.createOrReplaceTempView("contacts_view")
spark.sql("SELECT * FROM contacts_view").show()

NameError: ignored

## **VISTA TEMPORAL DE CLIENTES --> BBVAW2T1-36**

In [26]:
df_customer_basics.createOrReplaceTempView("customer_basics_view")
spark.sql("SELECT * FROM customer_basics_view").show(10)

+-----------+-------------+-------------+--------------+---------------+--------------------+---------+----------------+-----------+-----------------------+-----------------------+----------+-------------------+-----------------+--------------------------+---------+----------------+-------------------+-------------------+-----------+----------+----------------------+--------------------+---------------------+-----------+--------------------------+----------------------------+-------------------------------+------------------------+------------------------+--------------------------+------------------------+--------------------------+----------------------------+------------------+------------------------+-------------------+-------------------+---------------------------+-----------------+-------------------+-----------------+-------------------------------+--------------------+---------------------+------------------+----------------+--------------------+--------------------------+----------------+--------------------------+--------------------+-------------+----------------+--------------------+-------------------+--------+---------------------+-------------------------+--------------------------+----------------+--------------------+--------------------+----------------+-------------+-------------------------+-----------------------+---------------------+
|customer_id|personal_type|  personal_id|admission_date|sale_channel_id|operation_channel_id|branch_id|business_area_id|campaing_id|customer_situation_type|customer_condition_type|manager_id|tracking_manager_id|credit_manager_id|credit_recovery_manager_id|last_name|second_last_name|         first_name|marital_status_type|gender_type|birth_date|country_nationality_id|residence_country_id|customer_subject_type|sector_type|customer_level_access_type|cust_bcra_econ_activity_type|internal_economic_activity_type|bbva_inhabilitation_type|customer_block_bbva_date|customer_unblock_bbva_date|customer_block_bcra_date|customer_unblock_bcra_date|customer_pending_notice_type|last_notice_number|last_reference_number_id|last_service_number|last_address_number|last_unlinking_account_date|customer_end_date|last_change_user_id|customer_pep_type|bbva_family_lnk_weighted_number|customer_status_type|scoring_activity_type|refinancing_number|refinancing_date|coholder_customer_id|customer_bcra_situation_id|customer_cuit_id|customer_position_vat_type|balance_closing_date|profession_id|bbva_cust_number|customer_linked_type|customer_entry_type|job_type|profession_start_date|customer_first_block_date|customer_registration_date|last_change_date|last_change_hms_date|register_terminal_id|register_user_id|customer_type|customer_seniority_number|last_status_change_date|operational_load_date|
+-----------+-------------+-------------+--------------+---------------+--------------------+---------+----------------+-----------+-----------------------+-----------------------+----------+-------------------+-----------------+--------------------------+---------+----------------+-------------------+-------------------+-----------+----------+----------------------+--------------------+---------------------+-----------+--------------------------+----------------------------+-------------------------------+------------------------+------------------------+--------------------------+------------------------+--------------------------+----------------------------+------------------+------------------------+-------------------+-------------------+---------------------------+-----------------+-------------------+-----------------+-------------------------------+--------------------+---------------------+------------------+----------------+--------------------+--------------------------+----------------+--------------------------+--------------------+-------------+----------------+--------------------+-------------------+--------+---------------------+-------------------------+--------------------------+----------------+--------------------+--------------------+----------------+-------------+-------------------------+-----------------------+---------------------+
|   07867437|           00|0000022367134|    2007-07-10|          10000|                    |      143|              34|          0|                      1|                      1|       489|                   |                 |                          |   KATTAN|                |    ALBERTO GERARDO|                  1|          M|1971-08-10|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                           0|                 0|                       0|                  0|                  1|                       null|             null|            PCLE06R|                0|                              1|                  PO|                   47|              null|            null|                    |                      null|   0023223671349|                       042|                null|          016|       007867437|                   N|                   |     001|           2009-01-01|                     null|                2007-07-10|      2008-05-02|              181547|                P37B|          VUELCO|            S|                     null|                   null| 2022-03-10 01:05:...|
|   06813266|           00|0000013343738|    2006-02-22|          10000|                    |      418|              34|          0|                      1|                      1|       139|                   |                 |                          |  FERRERO|                |       ISIDRO ROQUE|                  1|          M|1959-02-06|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                            |                 0|                       0|                  0|                  1|                       null|             null|            PCLE02P|                0|                              1|                  CA|                   47|              null|            null|                    |                      null|   0020133437380|                       043|                null|          016|       006813266|                   N|                   |     001|           2009-01-01|                     null|                2006-02-22|      2008-11-10|              145508|                P37B|          VUELCO|            S|                     null|                   null| 2022-03-10 01:05:...|
|   29604216|           00|0000020589841|    2001-08-17|          10000|                  01|      199|              30|          0|                      1|                      1|       661|                   |                 |                          |   TOLOZA|                |       MIGUEL ANGEL|                  5|          M|1969-11-03|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                            |                 0|                       0|                  0|                  3|                       null|             null|            PCLE825|                2|                              1|                  AC|                   18|              null|            null|                    |                        21|   0020205898418|                       042|                null|          013|       005564899|                   N|                   |     001|           2016-12-26|                     null|                2001-08-17|      2022-02-21|              125716|                   B|          VUELCO|            N|                     null|             2016-12-26| 2022-03-10 01:05:...|
|   28028529|           00|0000039730521|    2021-08-24|          10000|                  01|      995|              34|          0|                      1|                      8|      2603|                   |             PVTA|                          |   ZURITA|                |             CARLOS|                  5|          M|1996-04-27|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                           0|                 0|                       0|                  0|                  0|                       null|             null|            PCLE06R|                1|                              1|                  PO|                    4|              null|            null|                    |                      null|   0000000000000|                       042|                null|          016|       028028529|                   N|                 MD|     001|           2021-08-24|                     null|                2021-08-24|      2021-08-24|              172924|                P37B|        VW2CEVA0|            S|                     null|                   null| 2022-03-10 01:05:...|
|   28366580|           00|0000039786049|    2022-01-11|          10000|                  00|       82|              34|          0|                      1|                      1|       234|                080|                 |                          | BEATRICE|                |   SEBASTIAN DANIEL|                  5|          M|1996-08-03|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                           0|                 2|                       0|                  0|                  2|                       null|             null|            PCLE06R|                2|                              2|                  AC|                   47|              null|            null|                    |                      null|   0020397860494|                       042|                null|          016|       028366580|                   N|                   |     001|           2022-01-20|                     null|                2022-01-11|      2022-01-25|              204956|                BATC|         PCLE510|            N|                     null|                   null| 2022-03-10 01:05:...|
|   02746969|           00|0000025684535|    2010-10-21|          10000|                  00|       74|              34|          0|                      1|                      1|       192|                   |                 |                          |     RUIZ|                |RUIZ MIRIAM LILIANA|                  1|          F|1977-01-01|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                           0|                 0|                       0|                  0|                  1|                       null|             null|            PCLE06R|                1|                              1|                  PO|                   47|              null|            null|                    |                      null|   0027256845356|                       042|                null|          016|       002746969|                   N|                   |     001|           2010-10-21|                     null|                2010-10-21|      2010-10-21|              162741|                P37B|          VUELCO|            S|                     null|                   null| 2022-03-10 01:05:...|
|   23441482|           00|0000038990587|    2016-12-22|          10000|                  00|      302|              34|          0|                      1|                      1|       591|                   |                 |                          |   ACOSTA|                |      FRANCO LEONEL|                  5|          M|1995-09-10|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                            |                 0|                       0|                  0|                  2|                       null|             null|            PCLE06R|                2|                              1|                  CA|                   47|              null|            null|                    |                      null|   0023389905879|                       042|                null|          007|       023441482|                   N|                   |     001|           2017-01-04|                     null|                2016-12-22|      2017-01-04|              035408|                P37B|         PCLE510|            S|                     null|             2017-01-04| 2022-03-10 01:05:...|
|   23610540|           00|0000021823184|    2004-05-04|          10000|                  01|      130|              34|          0|                      1|                      1|       452|                   |                 |                          |BALMACEDA|                |        MARIA ESTER|                  5|          F|1971-01-31|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                            |                 0|                       0|                  0|                  1|                       null|             null|            PCLE06R|                0|                              1|                  PO|                   50|              null|            null|                    |                      null|   0027218231840|                       042|                null|          034|       006341634|                   N|                   |     004|           2009-01-01|                     null|                2004-05-04|      2021-04-10|              191538|                P37B|          VUELCO|            S|                     null|             2014-07-17| 2022-03-10 01:05:...|
|   25935956|           00|0000036876523|    2019-06-24|          10000|                  01|       75|              30|          0|                      1|                      1|       200|                080|             PVTA|                          |  BUIATTI|                | VERONICA ESTEFANIA|                  5|          F|1992-05-12|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                           2|                30|                       0|                  0|                  1|                       null|             null|            PCLE02P|                2|                              3|                  AC|                    4|              null|            null|                    |                      null|   0027368765231|                       042|                null|          016|       025935956|                   N|                   |     001|           2019-06-24|                     null|                2019-06-24|      2022-01-20|              230746|                BATC|        VW2CEVA0|            N|                     null|                   null| 2022-03-10 01:05:...|
|   25848977|           00|0000036916954|    2022-03-08|          10000|                  00|      603|              30|          0|                      1|                      8|      2603|                   |                 |                          | ONTIVERO|                |    NATALIA SOLEDAD|                  1|          F|1992-10-02|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                           0|                 0|                       0|                  0|                  0|                       null|             null|            PCLE25H|                1|                              0|                    |                   47|              null|            null|                    |                      null|   0027369169543|                       042|                null|          016|       028990968|                   N|                 MD|     001|           2022-03-08|                     null|                2022-03-08|      2022-03-08|              003155|                 BAT|         PCLE25H|             |                     null|                   null| 2022-03-10 01:05:...|
+-----------+-------------+-------------+--------------+---------------+--------------------+---------+----------------+-----------+-----------------------+-----------------------+----------+-------------------+-----------------+--------------------------+---------+----------------+-------------------+-------------------+-----------+----------+----------------------+--------------------+---------------------+-----------+--------------------------+----------------------------+-------------------------------+------------------------+------------------------+--------------------------+------------------------+--------------------------+----------------------------+------------------+------------------------+-------------------+-------------------+---------------------------+-----------------+-------------------+-----------------+-------------------------------+--------------------+---------------------+------------------+----------------+--------------------+--------------------------+----------------+--------------------------+--------------------+-------------+----------------+--------------------+-------------------+--------+---------------------+-------------------------+--------------------------+----------------+--------------------+--------------------+----------------+-------------+-------------------------+-----------------------+---------------------+
only showing top 10 rows

## **VISTA TEMPORAL DE ESTADO CIVIL --> BBVAW2T1-37**

In [ ]:
df_marital_status_type.createOrReplaceTempView("marital_status_type_view")
spark.sql("SELECT * FROM marital_status_type_view").show()

+-------------------+------------------------+-------------------------+--------------------+-------------------------+-------------------+----------------+--------------------+-----------------------+-------------------+---------------------+-----------------+
|marital_status_type|first_record_filter_type|second_record_filter_type| martial_status_desc|martial_status_short_desc|registry_entry_date|last_change_date|last_change_hms_date|last_change_terminal_id|last_change_user_id|operational_load_date|customer_end_date|
+-------------------+------------------------+-------------------------+--------------------+-------------------------+-------------------+----------------+--------------------+-----------------------+-------------------+---------------------+-----------------+
|                  3|                        |                         |NO INFORMA       ...|               NO INFORMA|         2016-08-11|      2016-08-11|              205030|                   BTCH|           TC4C0100| 2022-01-14 02:08:...|       1900-01-01|
|                  3|                   C    |                    00001|CASADO/A         ...|               CASADO/A  |         2016-08-11|      2016-08-11|              205030|                   BTCH|           TC4C0100| 2022-01-14 02:08:...|       1900-01-01|
|                  3|                        |                    00002|VIUDO/A          ...|               VIUDO/A   |         2016-08-11|      2016-08-11|              205030|                   BTCH|           TC4C0100| 2022-01-14 02:08:...|       1900-01-01|
|                  3|                   C    |                    00003|SEPARADO/A       ...|               SEPARADO/A|         2016-08-11|      2016-08-11|              205030|                   BTCH|           TC4C0100| 2022-01-14 02:08:...|       1900-01-01|
|                  3|                        |                    00003|DIVORCIADO       ...|               DIVORCIADO|         2016-08-11|      2016-08-11|              205030|                   BTCH|           TC4C0100| 2022-01-14 02:08:...|       1900-01-01|
|                  3|                        |                    00000|SOLTERO/A        ...|               SOLTERO/A |         2016-08-11|      2016-08-11|              205030|                   BTCH|           TC4C0100| 2022-01-14 02:08:...|       1900-01-01|
|                  3|                        |                         |CONVIVIENT       ...|               CONVIVIENT|         2016-08-11|      2016-08-11|              205030|                   BTCH|           TC4C0100| 2022-01-14 02:08:...|       1900-01-01|
|                  3|                        |                         |OTROS            ...|               OTROS     |         2016-08-11|      2016-08-11|              205030|                   BTCH|           TC4C0100| 2022-01-14 02:08:...|       1900-01-01|
|                  3|                        |                         |CONV. INSC       ...|               CONV. INSC|         2016-08-11|      2016-08-11|              205030|                   BTCH|           TC4C0100| 2022-01-14 02:08:...|       1900-01-01|
+-------------------+------------------------+-------------------------+--------------------+-------------------------+-------------------+----------------+--------------------+-----------------------+-------------------+---------------------+-----------------+

## **VISTA TEMPORAL DE NACIONALIDAD --> BBVAW2T1-38/62**

In [ ]:
df_nationality.createOrReplaceTempView("nationality_view")
spark.sql("SELECT * FROM nationality_view").show(10)

+----------------------+-------------------------+-----------------+--------------+------------------+----------+---------------------+
|country_nationality_id|country_group_branch_type|phone_1_prefix_id|  country_name|country_short_desc|country_id|operational_load_date|
+----------------------+-------------------------+-----------------+--------------+------------------+----------+---------------------+
|                     1|                         |               44|   REINO UNIDO|               GBR|        GB| 2021-11-22 16:07:...|
|                     2|                         |                1|ESTADOS UNIDOS|               USA|        US| 2021-11-22 16:07:...|
|                     3|                         |               49|      ALEMANIA|               DEU|        DE| 2021-11-22 16:07:...|
|                     4|                         |               33|       FRANCIA|               FRA|        FR| 2021-11-22 16:07:...|
|                     5|                         |               41|         SUIZA|               CHE|        CH| 2021-11-22 16:07:...|
|                     6|                         |               32|       BELGICA|               BEL|        BE| 2021-11-22 16:07:...|
|                     7|                         |               39|        ITALIA|               ITA|        IT| 2021-11-22 16:07:...|
|                     8|                         |               31|       HOLANDA|               NLD|        NL| 2021-11-22 16:07:...|
|                     9|                         |               34|       ESPANIA|               ESP|        ES| 2021-11-22 16:07:...|
|                    10|                      LIM|              598|       URUGUAY|               URY|        UY| 2021-11-22 16:07:...|
+----------------------+-------------------------+-----------------+--------------+------------------+----------+---------------------+
only showing top 10 rows

## **Querys en spark SQL --> BBVAW2T1-39**

Generar un público objetivo (1) que cumpla los siguientes puntos:
* Cliente
* Antigüedad superior a 5 años.
* Asalariado Fijo.
* Estado civil Casado

In [32]:
spark.sql("SELECT * , current_date() as current_date, round(months_between(current_date(), customer_registration_date)/12,2) as years_reg \
        FROM customer_basics_view \
        WHERE (round(months_between(current_date(), customer_registration_date)/12,2)) > 5 \
        AND job_type = '001' \
        AND marital_status_type = 1").show()

+-----------+-------------+-------------+--------------+---------------+--------------------+---------+----------------+-----------+-----------------------+-----------------------+----------+-------------------+-----------------+--------------------------+------------+----------------+-------------------+-------------------+-----------+----------+----------------------+--------------------+---------------------+-----------+--------------------------+----------------------------+-------------------------------+------------------------+------------------------+--------------------------+------------------------+--------------------------+----------------------------+------------------+------------------------+-------------------+-------------------+---------------------------+-----------------+-------------------+-----------------+-------------------------------+--------------------+---------------------+------------------+----------------+--------------------+--------------------------+----------------+--------------------------+--------------------+-------------+----------------+--------------------+-------------------+--------+---------------------+-------------------------+--------------------------+----------------+--------------------+--------------------+----------------+-------------+-------------------------+-----------------------+---------------------+------------+---------+
|customer_id|personal_type|  personal_id|admission_date|sale_channel_id|operation_channel_id|branch_id|business_area_id|campaing_id|customer_situation_type|customer_condition_type|manager_id|tracking_manager_id|credit_manager_id|credit_recovery_manager_id|   last_name|second_last_name|         first_name|marital_status_type|gender_type|birth_date|country_nationality_id|residence_country_id|customer_subject_type|sector_type|customer_level_access_type|cust_bcra_econ_activity_type|internal_economic_activity_type|bbva_inhabilitation_type|customer_block_bbva_date|customer_unblock_bbva_date|customer_block_bcra_date|customer_unblock_bcra_date|customer_pending_notice_type|last_notice_number|last_reference_number_id|last_service_number|last_address_number|last_unlinking_account_date|customer_end_date|last_change_user_id|customer_pep_type|bbva_family_lnk_weighted_number|customer_status_type|scoring_activity_type|refinancing_number|refinancing_date|coholder_customer_id|customer_bcra_situation_id|customer_cuit_id|customer_position_vat_type|balance_closing_date|profession_id|bbva_cust_number|customer_linked_type|customer_entry_type|job_type|profession_start_date|customer_first_block_date|customer_registration_date|last_change_date|last_change_hms_date|register_terminal_id|register_user_id|customer_type|customer_seniority_number|last_status_change_date|operational_load_date|current_date|years_reg|
+-----------+-------------+-------------+--------------+---------------+--------------------+---------+----------------+-----------+-----------------------+-----------------------+----------+-------------------+-----------------+--------------------------+------------+----------------+-------------------+-------------------+-----------+----------+----------------------+--------------------+---------------------+-----------+--------------------------+----------------------------+-------------------------------+------------------------+------------------------+--------------------------+------------------------+--------------------------+----------------------------+------------------+------------------------+-------------------+-------------------+---------------------------+-----------------+-------------------+-----------------+-------------------------------+--------------------+---------------------+------------------+----------------+--------------------+--------------------------+----------------+--------------------------+--------------------+-------------+----------------+--------------------+-------------------+--------+---------------------+-------------------------+--------------------------+----------------+--------------------+--------------------+----------------+-------------+-------------------------+-----------------------+---------------------+------------+---------+
|   07867437|           00|0000022367134|    2007-07-10|          10000|                    |      143|              34|          0|                      1|                      1|       489|                   |                 |                          |      KATTAN|                |    ALBERTO GERARDO|                  1|          M|1971-08-10|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                           0|                 0|                       0|                  0|                  1|                       null|             null|            PCLE06R|                0|                              1|                  PO|                   47|              null|            null|                    |                      null|   0023223671349|                       042|                null|          016|       007867437|                   N|                   |     001|           2009-01-01|                     null|                2007-07-10|      2008-05-02|              181547|                P37B|          VUELCO|            S|                     null|                   null| 2022-03-10 01:05:...|  2023-03-30|    15.72|
|   06813266|           00|0000013343738|    2006-02-22|          10000|                    |      418|              34|          0|                      1|                      1|       139|                   |                 |                          |     FERRERO|                |       ISIDRO ROQUE|                  1|          M|1959-02-06|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                            |                 0|                       0|                  0|                  1|                       null|             null|            PCLE02P|                0|                              1|                  CA|                   47|              null|            null|                    |                      null|   0020133437380|                       043|                null|          016|       006813266|                   N|                   |     001|           2009-01-01|                     null|                2006-02-22|      2008-11-10|              145508|                P37B|          VUELCO|            S|                     null|                   null| 2022-03-10 01:05:...|  2023-03-30|     17.1|
|   02746969|           00|0000025684535|    2010-10-21|          10000|                  00|       74|              34|          0|                      1|                      1|       192|                   |                 |                          |        RUIZ|                |RUIZ MIRIAM LILIANA|                  1|          F|1977-01-01|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                           0|                 0|                       0|                  0|                  1|                       null|             null|            PCLE06R|                1|                              1|                  PO|                   47|              null|            null|                    |                      null|   0027256845356|                       042|                null|          016|       002746969|                   N|                   |     001|           2010-10-21|                     null|                2010-10-21|      2010-10-21|              162741|                P37B|          VUELCO|            S|                     null|                   null| 2022-03-10 01:05:...|  2023-03-30|    12.44|
|   03933825|           00|0000025583974|    2011-07-13|          10000|                  00|      177|              34|          0|                      1|                      1|       600|                   |                 |                          |        SOSA|                |      MARIA CECILIA|                  1|          F|1977-08-04|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                           0|                 0|                       0|                  0|                  1|                       null|             null|            PCLE06R|                1|                              1|                  PO|                   47|              null|            null|                    |                      null|   0027255839743|                       042|                null|          016|       003933825|                   N|                   |     001|           2011-07-13|                     null|                2011-07-13|      2011-07-13|              161542|                P37B|         PCLE10P|            S|                     null|                   null| 2022-03-10 01:05:...|  2023-03-30|    11.71|
|   29416245|           27|0000007954354|    2014-10-07|          10000|                  00|      603|              34|          0|                      1|                      8|      2603|                   |                 |                          |   GERVASONI|                |     JOSE FRANCISCO|                  1|          M|1945-10-04|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                           0|                 0|                       0|                  0|                  0|                       null|             null|            PCLE25Q|                1|                              1|                  PO|                   47|              null|            null|                    |                      null|   0020079543544|                       042|                null|          016|       020773121|                   N|                 MD|     001|           2014-10-07|                     null|                2014-10-07|      2014-10-07|              175751|                P37B|         PCLE10P|            S|                     null|                   null| 2022-03-10 01:05:...|  2023-03-30|     8.48|
|   29497813|           25|0000001670239|    1992-06-20|          20050|                  01|      317|              34|          0|                      1|                      8|       609|                   |                 |                          |CIANCIABELLA|                |                JUA|                  1|          M|1922-06-25|                    80|                 080|                  201|        100|                          |                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                            |                 0|                       0|                  0|                  2|                       null|             null|            PCLE06R|                0|                              1|                  CA|                   47|              null|            null|                    |                      null|   0020016702391|                       042|                null|          016|       000569590|                   N|                 AD|     001|           2009-01-01|                     null|                1992-06-20|      2013-03-09|              150515|                P37B|          VUELCO|            S|                     null|                   null| 2022-03-10 01:05:...|  2023-03-30|    30.78|
|   02568856|           00|0000017440976|    2010-08-12|          10000|                  00|      223|              34|          0|                      1|                      1|       729|                   |                 |                          |       ARIAS|                |  PATRICIA GRACIELA|                  1|          F|1965-08-04|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                           0|                 0|                       0|                  0|                  1|                       null|             null|            PCLE06R|                1|                              1|                  PO|                   47|              null|            null|                    |                      null|   0027174409760|                       042|                null|          016|       002568856|                   N|                   |     001|           2010-08-12|                     null|                2010-08-12|      2010-08-12|              163210|                P37B|          VUELCO|            S|                     null|                   null| 2022-03-10 01:05:...|  2023-03-30|    12.63|
|   29681573|           27|0000007849347|    1994-12-23|          10000|                  01|      263|              34|          0|                      1|                      8|       151|                   |                 |                          |       VOZZI|                |             CARLOS|                  1|          M|1950-03-02|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                            |                 0|                       0|                  0|                  0|                       null|             null|            PCLE25Q|                0|                              1|                  CA|                   47|              null|            null|                    |                      null|   0020078493470|                       043|                null|          016|                |                   N|                   |     001|           2009-01-01|                     null|                1994-12-23|      2013-06-18|              163425|                P37B|          VUELCO|            S|                     null|                   null| 2022-03-10 01:05:...|  2023-03-30|    28.27|
|   04348412|           26|0000000046479|    1998-08-28|          10000|                  01|      999|              34|          0|                      1|                      1|       901|                   |                 |                          |    MASLATON|                |             RAQUEL|                  1|          F|1929-10-06|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                            |                 0|                       0|                  0|                  0|                       null|             null|            PCLE06R|                0|                              1|                  CA|                   47|              null|            null|                    |                      null|   0027000464797|                       042|                null|          016|       004348412|                   N|                   |     001|           2009-01-01|                     null|                1998-08-28|      1998-08-28|              082606|                P37B|          VUELCO|            S|                     null|                   null| 2022-03-10 01:05:...|  2023-03-30|    24.59|
|   21241089|           00|0000013143653|    2015-03-17|          10000|                  00|      603|              34|          0|                      1|                      8|      2603|                   |                 |                          |     ENRIQUE|                |          RAUL ABEL|                  1|          M|1957-07-18|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                           0|                 0|                       0|                  0|                  0|                       null|             null|            PCLE06R|                1|                              1|                  PO|                   47|              null|            null|                    |                      null|   0020131436530|                       042|                null|          016|       021241089|                   N|                 MD|     001|           2015-03-17|                     null|                2015-03-17|      2015-03-17|              230125|                P37B|         PCLE25H|            S|                     null|                   null| 2022-03-10 01:05:...|  2023-03-30|     8.03|
|   30054090|           00|0000029176920|    2007-09-17|          10000|                    |      267|              34|          0|                      1|                      1|       563|                   |                 |                          |       BISIO|                |               JOSE|                  1|          M|1982-02-14|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                            |                 0|                       0|                  0|                  1|                       null|             null|            PCLE861|                0|                              1|                  CA|                   47|              null|            null|                    |                      null|   0023291769209|                       042|                null|          016|       008115568|                   N|                   |     001|           2009-01-01|                     null|                2007-09-17|      2015-11-11|              174636|                P37B|          VUELCO|            S|                     null|                   null| 2022-03-10 01:05:...|  2023-03-30|    15.53|

## **Querys en spark SQL --> BBVAW2T1-40**

Generar un público objetivo (1) que cumpla los siguientes puntos:


*   Potencial Cliente
*   Sexo Femenino
*   Entre 30 y 45 años de Edad.
*   Nacionalidad No Argentina

In [41]:
spark.sql("SELECT * , current_date() as current_date, round(months_between(current_date(), customer_registration_date)/12,2) as years_reg \
        FROM customer_basics_view \
        WHERE gender_type = 'F' \
        AND ((round(months_between(current_date(), birth_date)/12,2)) > 30 AND (round(months_between(current_date(), birth_date)/12,2)) < 45) \
        AND country_nationality_id <> 80").show()

+-----------+-------------+-------------+--------------+---------------+--------------------+---------+----------------+-----------+-----------------------+-----------------------+----------+-------------------+-----------------+--------------------------+---------+----------------+----------------+-------------------+-----------+----------+----------------------+--------------------+---------------------+-----------+--------------------------+----------------------------+-------------------------------+------------------------+------------------------+--------------------------+------------------------+--------------------------+----------------------------+------------------+------------------------+-------------------+-------------------+---------------------------+-----------------+-------------------+-----------------+-------------------------------+--------------------+---------------------+------------------+----------------+--------------------+--------------------------+----------------+--------------------------+--------------------+-------------+----------------+--------------------+-------------------+--------+---------------------+-------------------------+--------------------------+----------------+--------------------+--------------------+----------------+-------------+-------------------------+-----------------------+---------------------+------------+---------+
|customer_id|personal_type|  personal_id|admission_date|sale_channel_id|operation_channel_id|branch_id|business_area_id|campaing_id|customer_situation_type|customer_condition_type|manager_id|tracking_manager_id|credit_manager_id|credit_recovery_manager_id|last_name|second_last_name|      first_name|marital_status_type|gender_type|birth_date|country_nationality_id|residence_country_id|customer_subject_type|sector_type|customer_level_access_type|cust_bcra_econ_activity_type|internal_economic_activity_type|bbva_inhabilitation_type|customer_block_bbva_date|customer_unblock_bbva_date|customer_block_bcra_date|customer_unblock_bcra_date|customer_pending_notice_type|last_notice_number|last_reference_number_id|last_service_number|last_address_number|last_unlinking_account_date|customer_end_date|last_change_user_id|customer_pep_type|bbva_family_lnk_weighted_number|customer_status_type|scoring_activity_type|refinancing_number|refinancing_date|coholder_customer_id|customer_bcra_situation_id|customer_cuit_id|customer_position_vat_type|balance_closing_date|profession_id|bbva_cust_number|customer_linked_type|customer_entry_type|job_type|profession_start_date|customer_first_block_date|customer_registration_date|last_change_date|last_change_hms_date|register_terminal_id|register_user_id|customer_type|customer_seniority_number|last_status_change_date|operational_load_date|current_date|years_reg|
+-----------+-------------+-------------+--------------+---------------+--------------------+---------+----------------+-----------+-----------------------+-----------------------+----------+-------------------+-----------------+--------------------------+---------+----------------+----------------+-------------------+-----------+----------+----------------------+--------------------+---------------------+-----------+--------------------------+----------------------------+-------------------------------+------------------------+------------------------+--------------------------+------------------------+--------------------------+----------------------------+------------------+------------------------+-------------------+-------------------+---------------------------+-----------------+-------------------+-----------------+-------------------------------+--------------------+---------------------+------------------+----------------+--------------------+--------------------------+----------------+--------------------------+--------------------+-------------+----------------+--------------------+-------------------+--------+---------------------+-------------------------+--------------------------+----------------+--------------------+--------------------+----------------+-------------+-------------------------+-----------------------+---------------------+------------+---------+
|   08576564|           31|0000093797661|    2008-04-01|          10000|                  01|       58|              30|          0|                      1|                      1|       164|                   |                 |                          |   ALONZO|         GAMARRA|MIRIAN CELESTINA|                  5|          F|1978-09-26|                    69|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                            |                 0|                       0|                  0|                  1|                       null|             null|            PCLE861|                0|                              1|                  PO|                    5|              null|            null|                    |                      null|   0027937976610|                       042|                null|          007|       008576564|                   N|                   |     001|           2009-01-01|                     null|                2008-04-01|      2008-04-01|              071812|                P37B|          VUELCO|            S|                     null|                   null| 2022-03-10 01:05:...|  2023-03-30|    14.99|
|   22184167|           31|0000093902732|    2015-11-24|          10000|                  00|      215|              30|          0|                      1|                      1|       697|                083|                 |                          |    HSIAO|                |        YEN JUNG|                  5|          F|1989-10-18|                    83|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                           2|                14|                       0|                  0|                  1|                       null|             null|           AUTOMAT.|                2|                              1|                  IN|                   31|              null|            null|                    |                      null|   0024939027323|                       055|                null|          025|       022184167|                   N|                   |     003|           2016-06-15|                     null|                2015-11-24|      2021-02-11|              150113|                P37B|         PCLE25H|            N|                     null|             2016-06-15| 2022-03-10 01:05:...|  2023-03-30|     7.35|
+-----------+-------------+-------------+--------------+---------------+--------------------+---------+----------------+-----------+-----------------------+-----------------------+----------+-------------------+-----------------+--------------------------+---------+----------------+----------------+-------------------+-----------+----------+----------------------+--------------------+---------------------+-----------+--------------------------+----------------------------+-------------------------------+------------------------+------------------------+--------------------------+------------------------+--------------------------+----------------------------+------------------+------------------------+-------------------+-------------------+---------------------------+-----------------+-------------------+-----------------+-------------------------------+--------------------+---------------------+------------------+----------------+--------------------+--------------------------+----------------+--------------------------+--------------------+-------------+----------------+--------------------+-------------------+--------+---------------------+-------------------------+--------------------------+----------------+--------------------+--------------------+----------------+-------------+-------------------------+-----------------------+---------------------+------------+---------+

## **Querys en spark SQL --> BBVAW2T1-41**

Generar un público objetivo (1) que cumpla los siguientes puntos:


*   Potencial Cliente
*   Sexo Masculino
*   Mayor a 25 años.
*   Estado civil Soltero

In [36]:
spark.sql("SELECT * , current_date() as current_date, round(months_between(current_date(), customer_registration_date)/12,2) as years_reg \
        FROM customer_basics_view \
        WHERE gender_type = 'M' \
        AND (round(months_between(current_date(), birth_date)/12,2)) > 25  \
        AND marital_status_type = 5").show()

+-----------+-------------+-------------+--------------+---------------+--------------------+---------+----------------+-----------+-----------------------+-----------------------+----------+-------------------+-----------------+--------------------------+-----------------+----------------+----------------+-------------------+-----------+----------+----------------------+--------------------+---------------------+-----------+--------------------------+----------------------------+-------------------------------+------------------------+------------------------+--------------------------+------------------------+--------------------------+----------------------------+------------------+------------------------+-------------------+-------------------+---------------------------+-----------------+-------------------+-----------------+-------------------------------+--------------------+---------------------+------------------+----------------+--------------------+--------------------------+----------------+--------------------------+--------------------+-------------+----------------+--------------------+-------------------+--------+---------------------+-------------------------+--------------------------+----------------+--------------------+--------------------+----------------+-------------+-------------------------+-----------------------+---------------------+------------+---------+
|customer_id|personal_type|  personal_id|admission_date|sale_channel_id|operation_channel_id|branch_id|business_area_id|campaing_id|customer_situation_type|customer_condition_type|manager_id|tracking_manager_id|credit_manager_id|credit_recovery_manager_id|        last_name|second_last_name|      first_name|marital_status_type|gender_type|birth_date|country_nationality_id|residence_country_id|customer_subject_type|sector_type|customer_level_access_type|cust_bcra_econ_activity_type|internal_economic_activity_type|bbva_inhabilitation_type|customer_block_bbva_date|customer_unblock_bbva_date|customer_block_bcra_date|customer_unblock_bcra_date|customer_pending_notice_type|last_notice_number|last_reference_number_id|last_service_number|last_address_number|last_unlinking_account_date|customer_end_date|last_change_user_id|customer_pep_type|bbva_family_lnk_weighted_number|customer_status_type|scoring_activity_type|refinancing_number|refinancing_date|coholder_customer_id|customer_bcra_situation_id|customer_cuit_id|customer_position_vat_type|balance_closing_date|profession_id|bbva_cust_number|customer_linked_type|customer_entry_type|job_type|profession_start_date|customer_first_block_date|customer_registration_date|last_change_date|last_change_hms_date|register_terminal_id|register_user_id|customer_type|customer_seniority_number|last_status_change_date|operational_load_date|current_date|years_reg|
+-----------+-------------+-------------+--------------+---------------+--------------------+---------+----------------+-----------+-----------------------+-----------------------+----------+-------------------+-----------------+--------------------------+-----------------+----------------+----------------+-------------------+-----------+----------+----------------------+--------------------+---------------------+-----------+--------------------------+----------------------------+-------------------------------+------------------------+------------------------+--------------------------+------------------------+--------------------------+----------------------------+------------------+------------------------+-------------------+-------------------+---------------------------+-----------------+-------------------+-----------------+-------------------------------+--------------------+---------------------+------------------+----------------+--------------------+--------------------------+----------------+--------------------------+--------------------+-------------+----------------+--------------------+-------------------+--------+---------------------+-------------------------+--------------------------+----------------+--------------------+--------------------+----------------+-------------+-------------------------+-----------------------+---------------------+------------+---------+
|   29604216|           00|0000020589841|    2001-08-17|          10000|                  01|      199|              30|          0|                      1|                      1|       661|                   |                 |                          |           TOLOZA|                |    MIGUEL ANGEL|                  5|          M|1969-11-03|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                            |                 0|                       0|                  0|                  3|                       null|             null|            PCLE825|                2|                              1|                  AC|                   18|              null|            null|                    |                        21|   0020205898418|                       042|                null|          013|       005564899|                   N|                   |     001|           2016-12-26|                     null|                2001-08-17|      2022-02-21|              125716|                   B|          VUELCO|            N|                     null|             2016-12-26| 2022-03-10 01:05:...|  2023-03-30|    21.62|
|   28028529|           00|0000039730521|    2021-08-24|          10000|                  01|      995|              34|          0|                      1|                      8|      2603|                   |             PVTA|                          |           ZURITA|                |          CARLOS|                  5|          M|1996-04-27|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                           0|                 0|                       0|                  0|                  0|                       null|             null|            PCLE06R|                1|                              1|                  PO|                    4|              null|            null|                    |                      null|   0000000000000|                       042|                null|          016|       028028529|                   N|                 MD|     001|           2021-08-24|                     null|                2021-08-24|      2021-08-24|              172924|                P37B|        VW2CEVA0|            S|                     null|                   null| 2022-03-10 01:05:...|  2023-03-30|      1.6|
|   28366580|           00|0000039786049|    2022-01-11|          10000|                  00|       82|              34|          0|                      1|                      1|       234|                080|                 |                          |         BEATRICE|                |SEBASTIAN DANIEL|                  5|          M|1996-08-03|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                           0|                 2|                       0|                  0|                  2|                       null|             null|            PCLE06R|                2|                              2|                  AC|                   47|              null|            null|                    |                      null|   0020397860494|                       042|                null|          016|       028366580|                   N|                   |     001|           2022-01-20|                     null|                2022-01-11|      2022-01-25|              204956|                BATC|         PCLE510|            N|                     null|                   null| 2022-03-10 01:05:...|  2023-03-30|     1.22|
|   23441482|           00|0000038990587|    2016-12-22|          10000|                  00|      302|              34|          0|                      1|                      1|       591|                   |                 |                          |           ACOSTA|                |   FRANCO LEONEL|                  5|          M|1995-09-10|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                            |                 0|                       0|                  0|                  2|                       null|             null|            PCLE06R|                2|                              1|                  CA|                   47|              null|            null|                    |                      null|   0023389905879|                       042|                null|          007|       023441482|                   N|                   |     001|           2017-01-04|                     null|                2016-12-22|      2017-01-04|              035408|                P37B|         PCLE510|            S|                     null|             2017-01-04| 2022-03-10 01:05:...|  2023-03-30|     6.27|
|   26205399|           00|0000038866205|    2019-08-30|          10000|                  01|      995|              34|          0|                      1|                      8|      2603|                   |             PVTA|                          |          VAZQUEZ|                |      JUAN PABLO|                  5|          M|1995-05-05|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                           0|                 0|                       0|                  0|                  0|                       null|             null|            PCLE06R|                1|                              1|                  PO|                    4|              null|            null|                    |                      null|   0000000000000|                       042|                null|          016|       026205399|                   N|                 MD|     001|           2019-08-30|                     null|                2019-08-30|      2019-08-30|              092342|                P37B|        VW2CEVA0|            S|                     null|                   null| 2022-03-10 01:05:...|  2023-03-30|     3.58|
|   25734307|           00|0000038847597|    2018-01-30|          58999|                  01|      999|              30|          0|                      1|                      1|      1309|                080|                 |                          |           GARCIA|                |   ELIAS EMANUEL|                  5|          M|1995-06-05|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                           2|                19|                       0|                  0|                  2|                       null|             null|            PCLE825|                2|                              1|                  AC|                   34|              null|            null|                    |                        21|   0020388475979|                       055|                null|          025|       024404207|                   N|                   |     003|           2018-04-05|                     null|                2018-01-30|      2022-02-21|              125944|                   B|         XA51855|            N|                     null|                   null| 2022-03-10 01:05:...|  2023-03-30|     5.17|
|   03342631|           00|0000017370947|    1993-06-08|          20050|                  01|      117|              30|          0|                      1|                      1|      4572|                   |                 |                          |           GINACA|                |    JOSE ANTONIO|                  5|          M|1965-06-08|                    80|                 080|                  201|        100|                          |                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                           2|                29|                       0|                  0|                  6|                       null|             null|            PCLE861|                2|                              1|                  AC|                   46|              null|            null|                    |                        21|   0020173709472|                       042|                null|          013|       000640077|                   N|                   |     001|           2010-06-25|                     null|                1993-06-08|      2022-02-21|              052701|                   B|          VUELCO|            N|                     null|             2015-06-01| 2022-03-10 01:05:...|  2023-03-30|    29.81|
|   00731569|           00|0000013144821|    1996-04-23|          10000|                    |      321|              30|          0|                      1|                      1|      4631|                   |                 |                          |             SOSA|                |          ADOLFO|                  5|          M|1959-07-04|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                           2|                17|                       0|                  0|                  3|                       null|             null|            PCLE825|                2|                              1|                  AC|                   35|              null|            null|                    |                        21|   0020131448210|                       042|                null|          007|                |                   N|                   |     001|           2009-10-19|                     null|                1996-04-23|      2022-02-21|              125638|                   B|          VUELCO|            N|                     null|             2016-07-15| 2022-03-10 01:05:...|  2023-03-30|    26.94|
|   09661456|           00|0000036677356|    2012-03-27|          10000|                  00|       87|              34|          0|                      1|                      1|       254|                080|                 |                          |AGUERO JUSTINIANO|                |   ENRIQUE CESAR|                  5|          M|1992-01-06|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                            |                 0|                       0|                  0|                  2|                       null|             null|           UPROEWEB|                2|                              1|                  CA|                   34|              null|            null|                    |                      null|   0020366773569|                       042|                null|          007|       009661456|                   N|                   |     001|           2012-04-13|                     null|                2012-03-27|      2022-02-02|              151515|                ZZYH|         PCLE510|            S|                     null|                   null| 2022-03-10 01:05:...|  2023-03-30|    11.01|
|   30526225|           00|0000036795505|    2016-01-12|          10000|                  01|      995|              34|          0|                      1|                      8|      2603|                   |             PVTA|                          |          PEREYRA|                |       ALEJANDRO|                  5|          M|1993-02-08|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                           0|                 0|                       0|                  0|                  0|                       null|             null|           PCLEAP02|                1|                              1|                  PO|                    4|              null|            null|                    |                      null|   0020367955059|                       042|                null|          016|       022402024|                   N|                 MD|     001|           2016-01-12|                     null|                2016-01-12|      2019-07-16|              210829|                P37B|        VW2CEVA0|            S|                     null|                   null| 2022-03-10 01:05:...|  2023-03-30|     7.22|
|   30667330|           27|0000002198781|    1998-06-30|          10000|                    |       81|              34|          0|                      1|                      8|       233|                   |                 |                          |            ROSSI|                |      LUIS MARIA|                  5|          M|1950-01-01|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                            |                 0|                       0|                  0|                  0|                       null|             null|            PCLE25Q|                0|                              1|                  PO|                   47|              null|            null|                    |                      null|   0020021987817|                       043|                null|          016|       004274493|                   N|                   |     001|           2009-01-01|                     null|                1998-06-30|      2009-10-16|              165803|                P37C|          VUELCO|            S|                     null|                   null| 2022-03-10 01:05:...|  2023-03-30|    24.75|

## **Querys en spark SQL --> BBVAW2T1-42**

Generar un público objetivo (1) que cumpla los siguientes puntos:

*   Edad superior a 52 años
*   Nacionalidad Argentina.
*   Estado civil Viudo

In [34]:
spark.sql("SELECT * , current_date() as current_date, round(months_between(current_date(), customer_registration_date)/12,2) as years_reg \
        FROM customer_basics_view \
        WHERE (round(months_between(current_date(), birth_date)/12,2)) > 52  \
        AND country_nationality_id = 80 \
        AND marital_status_type = 2").show()

+-----------+-------------+-------------+--------------+---------------+--------------------+---------+----------------+-----------+-----------------------+-----------------------+----------+-------------------+-----------------+--------------------------+----------+----------------+-----------------+-------------------+-----------+----------+----------------------+--------------------+---------------------+-----------+--------------------------+----------------------------+-------------------------------+------------------------+------------------------+--------------------------+------------------------+--------------------------+----------------------------+------------------+------------------------+-------------------+-------------------+---------------------------+-----------------+-------------------+-----------------+-------------------------------+--------------------+---------------------+------------------+----------------+--------------------+--------------------------+----------------+--------------------------+--------------------+-------------+----------------+--------------------+-------------------+--------+---------------------+-------------------------+--------------------------+----------------+--------------------+--------------------+----------------+-------------+-------------------------+-----------------------+---------------------+------------+---------+
|customer_id|personal_type|  personal_id|admission_date|sale_channel_id|operation_channel_id|branch_id|business_area_id|campaing_id|customer_situation_type|customer_condition_type|manager_id|tracking_manager_id|credit_manager_id|credit_recovery_manager_id| last_name|second_last_name|       first_name|marital_status_type|gender_type|birth_date|country_nationality_id|residence_country_id|customer_subject_type|sector_type|customer_level_access_type|cust_bcra_econ_activity_type|internal_economic_activity_type|bbva_inhabilitation_type|customer_block_bbva_date|customer_unblock_bbva_date|customer_block_bcra_date|customer_unblock_bcra_date|customer_pending_notice_type|last_notice_number|last_reference_number_id|last_service_number|last_address_number|last_unlinking_account_date|customer_end_date|last_change_user_id|customer_pep_type|bbva_family_lnk_weighted_number|customer_status_type|scoring_activity_type|refinancing_number|refinancing_date|coholder_customer_id|customer_bcra_situation_id|customer_cuit_id|customer_position_vat_type|balance_closing_date|profession_id|bbva_cust_number|customer_linked_type|customer_entry_type|job_type|profession_start_date|customer_first_block_date|customer_registration_date|last_change_date|last_change_hms_date|register_terminal_id|register_user_id|customer_type|customer_seniority_number|last_status_change_date|operational_load_date|current_date|years_reg|
+-----------+-------------+-------------+--------------+---------------+--------------------+---------+----------------+-----------+-----------------------+-----------------------+----------+-------------------+-----------------+--------------------------+----------+----------------+-----------------+-------------------+-----------+----------+----------------------+--------------------+---------------------+-----------+--------------------------+----------------------------+-------------------------------+------------------------+------------------------+--------------------------+------------------------+--------------------------+----------------------------+------------------+------------------------+-------------------+-------------------+---------------------------+-----------------+-------------------+-----------------+-------------------------------+--------------------+---------------------+------------------+----------------+--------------------+--------------------------+----------------+--------------------------+--------------------+-------------+----------------+--------------------+-------------------+--------+---------------------+-------------------------+--------------------------+----------------+--------------------+--------------------+----------------+-------------+-------------------------+-----------------------+---------------------+------------+---------+
|   04161701|           28|0000001718995|    1998-04-13|          10000|                  01|      116|              34|          0|                      1|                      1|       397|                   |                 |                          |   GHIDINI|                | YOLANDA VIRGINIA|                  2|          F|1935-10-29|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                           0|                 0|                       0|                  0|                  0|                       null|             null|            PCLE25Q|                0|                              1|                  CA|                   47|              null|            null|                    |                      null|   0027017189951|                       042|                null|          016|       004161701|                   N|                   |     001|           2009-01-01|                     null|                1998-04-13|      1998-07-05|              165659|                P37B|          VUELCO|            S|                     null|                   null| 2022-03-10 01:05:...|  2023-03-30|    24.96|
|   29561692|           00|0000017539961|    2008-06-12|          10000|                  01|      140|              30|          0|                      1|                      1|       473|                080|                 |                          |   LORENZO|                |MARCELO ALEJANDRO|                  2|          M|1965-07-15|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                           2|                24|                       0|                  0|                  1|                       null|             null|            PCLE825|                2|                              1|                  AC|                   47|              null|            null|                    |                        21|   0020175399616|                       042|                null|          031|       008713474|                   N|                   |     003|           2009-09-22|                     null|                2008-06-12|      2022-02-21|              125701|                   B|          VUELCO|            N|                     null|                   null| 2022-03-10 01:05:...|  2023-03-30|     14.8|
|   29632753|           00|0000017346173|    1990-07-06|          95000|                  01|      361|              92|          0|                      1|                      1|      8044|                080|                 |                          |   ARDANAZ|                |  MARCELO HORACIO|                  2|          M|1965-06-03|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                           2|                52|                       0|                  0|                  3|                       null|             null|            PCLE861|                2|                              1|                  AC|                    8|              null|            null|                    |                        21|   0023173461739|                       042|                null|          003|                |                   N|                   |     001|           2019-09-10|                     null|                1990-07-06|      2022-02-21|              024332|                   B|          VUELCO|            N|                     null|             2016-08-30| 2022-03-10 01:05:...|  2023-03-30|    32.73|
|   04566883|           28|0000002159084|    1999-02-12|          10000|                  01|      337|              34|          0|                      1|                      1|       634|                   |                 |                          |    SOMOZA|                |            DELIA|                  2|          F|1927-02-04|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                            |                 0|                       0|                  0|                  1|                       null|             null|            PCLE25Q|                0|                              1|                  CA|                   47|              null|            null|                    |                      null|   0027021590849|                       042|                null|          016|       004566883|                   N|                   |     001|           2009-01-01|                     null|                1999-02-12|      2002-06-27|              165951|                P37B|          VUELCO|            S|                     null|                   null| 2022-03-10 01:05:...|  2023-03-30|    24.13|
|   00093940|           26|0000001994808|    1993-09-13|          10000|                  01|      340|              34|          0|                      1|                      8|       211|                   |                 |                          |LACAMPAGNA|                |           AMELIA|                  2|          F|1921-11-22|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                           2|                 1|                       0|                  0|                  2|                       null|             null|            PCLE06R|                0|                              1|                  CA|                   47|              null|            null|                    |                      null|   0027019948086|                       042|                null|          016|                |                   N|                 AD|     001|           2009-01-01|                     null|                1994-11-22|      2013-03-09|              150515|                P37B|          VUELCO|            S|                     null|                   null| 2022-03-10 01:05:...|  2023-03-30|    28.35|
|   29580724|           28|0000006144725|    2017-03-23|          10000|                  00|       25|              34|          0|                      1|                      1|       247|                   |                 |                          | VILLEDARY|                |     MARIA CRISTI|                  2|          F|1949-12-06|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                            |                 0|                       0|                  0|                  1|                       null|             null|            PCLE861|                2|                              1|                  CA|                   50|              null|            null|                    |                      null|   0027061447259|                       042|                null|          039|       023641874|                   N|                   |     004|           2017-04-17|                     null|                2017-03-23|      2017-04-17|              212452|                P37B|         PCLE15V|            S|                     null|             2017-04-17| 2022-03-10 01:05:...|  2023-03-30|     6.02|
|   00104838|           26|0000002249664|    1996-01-15|          10000|                    |      237|              34|          0|                      1|                      1|       538|                   |                 |                          |   SANCHEZ|                |             ROSA|                  2|          F|1927-09-11|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                            |                 0|                       0|                  0|                  0|                       null|             null|            PCLE06R|                0|                              1|                  CA|                   47|              null|            null|                    |                      null|   0027022496641|                       042|                null|          016|                |                   N|                   |     001|           2009-01-01|                     null|                1996-01-15|      2005-12-02|              070349|                P37B|          VUELCO|            S|                     null|                   null| 2022-03-10 01:05:...|  2023-03-30|    27.21|
|   00014664|           28|0000000135700|    1993-04-12|          10000|                    |      140|              34|          0|                      1|                      1|       473|                   |                 |                          | STOCHETTI|                |     ALICIA BETTY|                  2|          F|1920-06-17|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                           0|                 0|                       0|                  0|                  0|                       null|             null|            PCLE25Q|                0|                              1|                  CA|                   47|              null|            null|                    |                      null|   0027001357005|                       042|                null|          016|                |                   N|                   |     001|           2009-01-01|                     null|                1994-01-17|      2000-06-23|              161900|                P37B|          VUELCO|            S|                     null|                   null| 2022-03-10 01:05:...|  2023-03-30|     29.2|
|   29434917|           28|0000001102610|    2000-12-15|          10000|                  01|       81|              34|          0|                      1|                      1|       233|                   |                 |                          |   BIANCHI|                |   LIDIA MERCEDES|                  2|          F|1920-09-25|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                            |                 0|                       0|                  0|                  1|                       null|             null|            PCLE25Q|                0|                              1|                  CA|                   47|              null|            null|                    |                      null|   0027011026104|                       042|                null|          016|       005353458|                   N|                   |     001|           2009-01-01|                     null|                2000-12-15|      2002-12-06|              172831|                P37B|          VUELCO|            S|                     null|                   null| 2022-03-10 01:05:...|  2023-03-30|    22.29|
|   04076446|           28|0000000103132|    1998-02-26|          10000|                  01|       22|              34|          0|                      1|                      1|       102|                   |                 |                          |   SCARANO|                |          DOMINGA|                  2|          F|1919-04-06|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                            |                 0|                       0|                  0|                  0|                       null|             null|            PCLE25Q|                0|                              1|                  CA|                   47|              null|            null|                    |                      null|   0027001031320|                       042|                null|          016|       004076446|                   N|                   |     001|           2009-01-01|                     null|                1998-02-26|      2008-03-14|              165620|                P37B|          VUELCO|            S|                     null|                   null| 2022-03-10 01:05:...|  2023-03-30|    25.09|
|   03925479|           00|0000017435504|    2011-07-08|          74001|                  01|      111|              34|          0|                      1|                      1|       378|                   |                 |                          |  FIGUEROA|                |           WALTER|                  2|          M|1965-12-11|                    80|                 080|                  201|        100|                         0|                          82|                       21101000|                       0|                    null|                      null|                    null|                      null|                            |                 0|                       0|                  0|                  1|                       null|             null|            PCLE06R|                0|                              1|                  PO|                   50|              null|            null|                    |                      null|   0020174355046|                       042|                null|          038|       003925479|                   N|                   |     004|           2011-07-08|                     null|                2011-07-08|      2021-04-10|              191538|                P37B|         A118483|            S|                     null|                   null| 2022-03-10 01:05:...|  2023-03-30|    11.73|

## **Carga de datos, generacion de archivos .csv --> BBVAW2T1-43**

QUIERO: Generar archivos .csv a partir de los público objetivo 1. 
Los archivos deben cumplir los siguientes requerimientos: 
* Contener cabecera. 
* Separador “|”. 
* Máximo de 1000 registros por archivo (si el público objetivo tiene más de 1000 registros, se deberá crear más de un archivo)
* Ser guardados en HDFS.

In [45]:
df_cli_objetivo_1 = spark.sql("SELECT * , current_date() as current_date, round(months_between(current_date(), customer_registration_date)/12,2) as years_reg \
        FROM customer_basics_view \
        WHERE (round(months_between(current_date(), customer_registration_date)/12,2)) > 5 \
        AND job_type = '001' \
        AND marital_status_type = 1")

In [47]:
df_cli_objetivo_1.write.option("header",True)\
        .option("delimiter","|")\
        .csv('/content/df_cli_objetivo_1')

## **Carga de datos, generacion de archivos .csv --> BBVAW2T1-44**

QUIERO: Generar archivos .csv a partir de los público objetivo 2. 
Los archivos deben cumplir los siguientes requerimientos: 
* Contener cabecera. 
* Separador “|”. 
* Máximo de 1000 registros por archivo (si el público objetivo tiene más de 1000 registros, se deberá crear más de un archivo)
* Ser guardados en HDFS.

In [48]:
df_cli_objetivo_2 = spark.sql("SELECT * , current_date() as current_date, round(months_between(current_date(), customer_registration_date)/12,2) as years_reg \
        FROM customer_basics_view \
        WHERE gender_type = 'F' \
        AND ((round(months_between(current_date(), birth_date)/12,2)) > 30 AND (round(months_between(current_date(), birth_date)/12,2)) < 45) \
        AND country_nationality_id <> 80")

In [49]:
df_cli_objetivo_2.write.option("header",True)\
        .option("delimiter","|")\
        .csv('/content/df_cli_objetivo_2')

## **Carga de datos, generacion de archivos .csv --> BBVAW2T1-45**

QUIERO: Generar archivos .csv a partir de los público objetivo 3. 
Los archivos deben cumplir los siguientes requerimientos: 
* Contener cabecera. 
* Separador “|”. 
* Máximo de 1000 registros por archivo (si el público objetivo tiene más de 1000 registros, se deberá crear más de un archivo)
* Ser guardados en HDFS.

In [50]:
df_cli_objetivo_3 = spark.sql("SELECT * , current_date() as current_date, round(months_between(current_date(), customer_registration_date)/12,2) as years_reg \
        FROM customer_basics_view \
        WHERE gender_type = 'M' \
        AND (round(months_between(current_date(), birth_date)/12,2)) > 25  \
        AND marital_status_type = 5")

In [51]:
df_cli_objetivo_3.write.option("header",True)\
        .option("delimiter","|")\
        .csv('/content/df_cli_objetivo_3')

## **Carga de datos, generacion de archivos .csv --> BBVAW2T1-46**

QUIERO: Generar archivos .csv a partir de los público objetivo 4. 
Los archivos deben cumplir los siguientes requerimientos: 
* Contener cabecera. 
* Separador “|”. 
* Máximo de 1000 registros por archivo (si el público objetivo tiene más de 1000 registros, se deberá crear más de un archivo)
* Ser guardados en HDFS.

In [52]:
df_cli_objetivo_4 = spark.sql("SELECT * , current_date() as current_date, round(months_between(current_date(), customer_registration_date)/12,2) as years_reg \
        FROM customer_basics_view \
        WHERE (round(months_between(current_date(), birth_date)/12,2)) > 52  \
        AND country_nationality_id = 80 \
        AND marital_status_type = 2")

In [53]:
df_cli_objetivo_4.write.option("header",True)\
        .option("delimiter","|")\
        .csv('/content/df_cli_objetivo_4')