<a href="https://colab.research.google.com/github/Bainer13/Data_BBVA_Team_1/blob/main/Proyecto_bootcamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Armado del entorno de trabajo**

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [ ]:
!wget -q https://dlcdn.apache.org/spark/spark-3.3.2/spark-3.3.2-bin-hadoop3.tgz

In [ ]:
ls

address_bootcamp.snappy.parquet          phones_bootcamp.snappy.parquet
customer_basics_bootcamp.snappy.parquet  sample_data/
emails_bootcamp.snappy.parquet           spark-3.3.2-bin-hadoop3.tgz

In [ ]:
!tar xf spark-3.3.2-bin-hadoop3.tgz

In [ ]:
!java -version

openjdk version "11.0.18" 2023-01-17
OpenJDK Runtime Environment (build 11.0.18+10-post-Ubuntu-0ubuntu120.04.1)
OpenJDK 64-Bit Server VM (build 11.0.18+10-post-Ubuntu-0ubuntu120.04.1, mixed mode, sharing)

In [ ]:
!readlink -f $(which java) | sed "s:bin/java::"

/usr/lib/jvm/java-11-openjdk-amd64/

In [ ]:
!echo $JAVA_HOME

In [ ]:
!pip install -q findspark

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 26.0 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824028 sha256=778fb94af551c59246030c3c0d35353e9c51e6c0abf50804caa75d176bc38555
  Stored in directory: /root/.cache/pip/wheels/6c/e3/9b/0525ce8a69478916513509d43693511463c6468db0de237c86
Successfully built pyspark
Installing collected packages: py4j, pyspark
  Attempting uninstall: py4j
    Found existing installation: py4j 0.10.9.7
    Uninstalling py4j-0.10.9.7:
      Successfully uninstalled py4j-0.10.9.7
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
import pyspark.sql.functions as F

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', None)

In [ ]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number
from pyspark.sql.functions import col
from pyspark.sql.functions import *
from pyspark.sql.functions import lit
from pyspark.sql.functions import coalesce, expr

In [ ]:
spark = SparkSession.builder.getOrCreate()

In [ ]:
spark.conf.set('spark.sql.legacy.parquet.datetimeRebaseModeInRead', 'CORRECTED')

## **Extraccion de datos**

In [ ]:
#Lectura de parquets
df_address = spark.read.parquet('/content/address_bootcamp.snappy.parquet')
df_customer_basics = spark.read.parquet('/content/customer_basics_bootcamp.snappy.parquet')
df_email = spark.read.parquet('/content/emails_bootcamp.snappy.parquet')
df_phones = spark.read.parquet('/content/phones_bootcamp.snappy.parquet')
df_nationality = spark.read.parquet('/content/nationality.snappy.parquet')
df_marital_status_type = spark.read.parquet('/content/Marital status.snappy.parquet')

In [ ]:
df_phones.show()

+-----------+--------------+-------------------+-----------------+----------+----------------+---------------+-------------+-------------------+-----------------+-------------+--------------+---------------+-----------------------+------------------+---------------------+--------------------+----------+-----------+--------------------------+---------------------+--------------------+---------------------+----------------+-------------------------+-------------------------+------------------+-------------------+-----------------+--------------------+---------------------+-----------------------+----------------------+--------------------+----------------------+------------------------------+----------------------------+-------------------+----------------+----------------+-------------------+--------------------+-----------------------+---------------------+
|customer_id|phone_use_type|address_sequence_id|phone_sequence_id|phone_type|phone_country_id|prefix_phone_id|phone_area_id|cellphone_prefix_id|phone_exchange_id|phone_line_id|      phone_id|phone_intern_id|aditional_info_txt_desc|primary_phone_type|address_sequence_type|   address_town_name|zipcode_id|province_id|customer_phone_status_type|phone_status_mod_date|contact_channel_type|sender_application_id|wrong_phone_type|normalization_status_type|normalization_reason_name|normalization_date|validity_start_date|validity_end_date|dlvy_day_monday_type|dlvy_day_tuesday_type|dlvy_day_wednesday_type|dlvy_day_thursday_type|dlvy_day_friday_type|dlvy_day_saturday_type|delivery_contact_start_hm_date|delivery_contact_end_hm_date|registry_entry_date|register_user_id|last_change_date|last_change_user_id|last_change_hms_date|last_change_terminal_id|operational_load_date|
+-----------+--------------+-------------------+-----------------+----------+----------------+---------------+-------------+-------------------+-----------------+-------------+--------------+---------------+-----------------------+------------------+---------------------+--------------------+----------+-----------+--------------------------+---------------------+--------------------+---------------------+----------------+-------------------------+-------------------------+------------------+-------------------+-----------------+--------------------+---------------------+-----------------------+----------------------+--------------------+----------------------+------------------------------+----------------------------+-------------------+----------------+----------------+-------------------+--------------------+-----------------------+---------------------+
|   29354201|            00|                  0|                1|         3|             080|             54|          385|                 15|              618|         8929|  696850618783|               |                       |                 N|                    N|                    |          |           |                 DECLARADO|           2022-06-24|                  01|                 CTES|                |                NORM OPER|                       NE|        2022-06-24|         1900-01-01|       1900-01-01|                    |                     |                       |                      |                    |                      |                      00:00:00|                    00:00:00|         2022-06-24|         A126810|      2022-06-24|            A126810|              085240|                   2429| 2022-11-30 00:42:...|
|   29389432|            00|                  0|                1|         3|             080|             54|           11|                 15|             2550|         6187|  711931820675|               |                       |                 N|                    N|                    |          |           |                 DECLARADO|           2022-06-24|                  01|                 PVTA|                |                NORM AUTO|                  COPDTEL|        2022-06-24|         1900-01-01|       1900-01-01|                    |                     |                       |                      |                    |                      |                      00:00:00|                    00:00:00|         2022-06-24|        VW2CCON0|      2022-06-24|           VW2CCON0|              102004|                   PVTA| 2022-11-30 00:42:...|
|   29382041|            01|                  0|                2|         1|             080|             54|          341|                   |              454|         3113|    3843676600|               |                       |                 N|                    N|                    |          |           |                 DECLARADO|           2022-06-24|                  01|                 CTES|                |                NORM AUTO|                  COPDTEL|        2022-06-24|         1900-01-01|       1900-01-01|                    |                     |                       |                      |                    |                      |                      00:00:00|                    00:00:00|         2022-06-24|         A126228|      2022-06-24|            A126228|              102436|                   Y2GK| 2022-11-30 00:42:...|
|   07395331|            00|                  0|                2|         3|             080|             54|           11|                 15|             3017|         9680|  229013342402|               |                       |                 N|                    N|                    |          |           |                 DECLARADO|           2022-06-24|                  01|                 WKFL|                |                NORM AUTO|                  COPDTEL|        2022-06-24|         1900-01-01|       1900-01-01|                    |                     |                       |                      |                    |                      |                      00:00:00|                    00:00:00|         2022-06-24|         A118094|      2022-06-24|            A118094|              105750|                   P101| 2022-11-30 00:42:...|
|   29349520|            00|                  0|                1|         3|             080|             54|           11|                 15|             4439|         4790|  589625269325|               |                       |                 N|                    N|                    |          |           |                 DECLARADO|           2022-06-24|                  01|                 CTES|                |                NORM AUTO|                   COPDTE|        2022-06-24|         1900-01-01|       1900-01-01|                    |                     |                       |                      |                    |                      |                      00:00:00|                    00:00:00|         2022-06-24|          A33643|      2022-06-24|             A33643|              105847|                   2305| 2022-11-30 00:42:...|
|   29349520|            01|                  0|                2|         3|             080|             54|           11|                 15|             4439|         4790|  589625269325|               |                       |                 N|                    N|                    |          |           |                 DECLARADO|           2022-06-24|                  01|                 CTES|                |                NORM AUTO|                  COPDTEL|        2022-06-24|         1900-01-01|       1900-01-01|                    |                     |                       |                      |                    |                      |                      00:00:00|                    00:00:00|         2022-06-24|          A33643|      2022-06-24|             A33643|              105847|                   2305| 2022-11-30 00:42:...|
|   29390571|            00|                  0|                1|         3|             080|             54|          388|                 15|              514|         3040|  888200805780|               |                       |                 N|                    N|SAN SALVADOR DE J...|     04600|         10|                 DECLARADO|           2022-06-24|                  01|                 CTES|                |                NORM AUTO|                   COPDTE|        2022-08-11|         1900-01-01|       1900-01-01|                    |                     |                       |                      |                    |                      |                      00:00:00|                    00:00:00|         2022-06-24|          A78911|      2022-08-11|            A115116|              092940|                   5159| 2022-11-30 00:42:...|
|   29353393|            00|                  0|                1|         3|             080|             54|         3444|                 15|               52|         3887|  474148675676|               |                       |                 N|                    N|                    |          |           |                COMPROBADO|           2022-06-24|                  01|                 CTES|                |                NORM AUTO|                  COPDTEL|        2022-06-24|         1900-01-01|       1900-01-01|                    |                     |                       |                      |                    |                      |                      00:00:00|                    00:00:00|         2022-06-24|         A127353|      2022-06-26|           PCLUPCRT|              125515|                   OSMS| 2022-11-30 00:42:...|
|   29387501|            01|                  0|                2|         1|             080|             54|         2317|                   |               43|         4879|    2546905684|               |                       |                 N|                    N|                    |          |           |                 DECLARADO|           2022-06-24|                  01|                 CTES|                |                NORM AUTO|                  COPDTEL|        2022-06-24|         1900-01-01|       1900-01-01|                    |                     |                       |                      |                    |                      |                      00:00:00|                    00:00:00|         2022-06-24|         A118960|      2022-06-24|            A118960|              163712|                   Y2IG| 2022-11-30 00:42:...|
|   29391432|            05|                  0|                1|         3|             080|             54|           11|                 15|             5529|         1962|  673397682353|               |                     04|                 N|                    N|                    |          |           |                 DECLARADO|           2022-06-24|                  01|                 CTES|                |                NORM AUTO|                  COPDTEL|        2022-06-24|         2022-06-24|       1900-01-01|                    |                     |                       |                      |                    |                      |                      00:00:00|                    00:00:00|         2022-06-24|        GPROBANK|      2022-06-24|            PCLE20N|              180221|                   BATC| 2022-11-30 00:42:...|
|   29390553|            00|                  0|                1|         3|             080|             54|          351|                 15|              256|         0268|  453595914089|               |                       |                 N|                    N|                    |          |           |                COMPROBADO|           2022-07-02|                  01|                 CTES|                |                NORM AUTO|                  COPDTEL|        2022-07-01|         1900-01-01|       1900-01-01|                    |                     |                       |                      |                    |                      |                      00:00:00|                    00:00:00|         2022-06-24|         A126703|      2022-07-02|               XATM|              164720|                   XATM| 2022-11-30 00:42:...|
|   29389361|            00|                  0|                1|         3|             080|             54|           11|                 15|             5579|         2407|  478405248222|               |                       |                 N|                    N|                    |          |           |                 DECLARADO|           2022-06-25|                  01|                 PVTA|                |                NORM AUTO|                  COPDTEL|        2022-06-25|         1900-01-01|       1900-01-01|                    |                     |                       |                      |                    |                      |                      00:00:00|                    00:00:00|         2022-06-25|        VW2CCON0|      2022-06-25|           VW2CCON0|              021541|                   PVTA| 2022-11-30 00:42:...|
|   29400313|            00|                  0|                1|         3|             080|             54|           11|                 15|             4030|         8325|  043683030098|               |                       |                 N|                    N|                    |          |           |                 DECLARADO|           2022-06-25|                  01|                 CTES|                |                NORM AUTO|                  COPDTEL|        2022-06-27|         1900-01-01|       1900-01-01|                    |                     |                       |                      |                    |                      |                      00:00:00|                    00:00:00|         2022-06-25|        GPROBANK|      2022-06-27|           GPROBANK|              152322|                   LWBE| 2022-11-30 00:42:...|
|   29401025|            00|                  0|                1|         3|             080|             54|           11|                 15|             2288|         8738|  008725729120|               |                       |                 N|                    N|                    |          |           |                COMPROBADO|           2022-06-26|                  01|                 PVTA|                |                NORM AUTO|                  COPDTEL|        2022-06-26|         1900-01-01|       1900-01-01|                    |                     |                       |                      |                    |                      |                      00:00:00|                    00:00:00|         2022-06-26|        VW2CCON0|      2022-07-12|           PCLUPCRT|              215455|                   OSMS| 2022-11-30 00:42:...|
|   29401299|            00|                  0|                1|         3|             080|             54|         0011|                 15|             6761|         8843|09893903230068|               |                       |                 N|                    N|                    |          |           |                 DECLARADO|           2022-06-27|                  01|                 CTES|                |                         |                         |        1900-01-01|         1900-01-01|       1900-01-01|                    |                     |                       |                      |                    |                      |                      00:00:00|                    00:00:00|         2022-06-27|        GPROBANK|      2022-06-27|           GPROBANK|              184500|                   LWAW| 2022-11-30 00:42:...|
|   29325999|            00|                  0|                2|         3|             080|             54|          342|                 15|              479|         9696|  466813319125|               |                       |                 N|                    N|                    |          |           |                 DECLARADO|           2022-06-26|                  01|                 PVTA|                |                NORM AUTO|                  COPDTEL|        2022-06-26|         1900-01-01|       1900-01-01|                    |                     |                       |                      |                    |                      |                      00:00:00|                    00:00:00|         2022-06-26|        VW2CCON0|      2022-06-26|           VW2CCON0|              222823|                   PVTA| 2022-11-30 00:42:...|
|   29402665|            00|                  0|                1|         3|             080|             54|         3564|                 15|               33|         7284|  443220384448|               |                       |                 N|                    N|       SAN FRANCISCO|     02400|         04|                 DECLARADO|           2022-06-27|                  01|                 CTES|                |                NORM AUTO|                   COPDTE|        2022-06-27|         1900-01-01|       1900-01-01|                    |                     |                       |                      |                    |                      |                      00:00:00|                    00:00:00|         2022-06-27|         A116108|      2022-06-27|            A116108|              124517|                   6104| 2022-11-30 00:42:...|
|   29402665|            00|                  0|                2|         3|             080|             54|         3564|                 15|               33|         3190|  538542198741|               |                       |                 N|                    N|                    |          |           |                 DECLARADO|           2022-06-27|                  01|                 CTES|                |                NORM AUTO|                  COPDTEL|        2022-06-27|         1900-01-01|       1900-01-01|                    |                     |                       |                      |                    |                      |                      00:00:00|                    00:00:00|         2022-06-27|         A116108|      2022-06-27|            A116108|              124517|                   6104| 2022-11-30 00:42:...|
|   29375587|            00|                  0|                1|         3|             080|             54|          221|                 15|              692|         9792|  061269423380|               |                       |                 N|                    N|                    |          |           |                COMPROBADO|           2022-10-03|                  01|                 CTES|                |                NORM AUTO|                     COSM|        2022-10-03|         1900-01-01|       1900-01-01|                    |                     |                       |                      |                    |                      |                      00:00:00|                    00:00:00|         2022-10-03|         A127599|      2022-10-03|           PCLUPCRT|              132855|                   OSMS| 2022-11-30 00:42:...|

## **JOINS ENTRE TABLAS (BBVAW2T1-24/25/26)**

In [ ]:
#Cambio formato de columna
df_phones = df_phones.withColumn("phone_area_id", F.col("phone_area_id").cast("integer"))
df_phones = df_phones.withColumn("phone_number", F.concat(F.lit("+"), F.col("prefix_phone_id"), F.lit(" "), F.col("phone_area_id"), F.lit(" "), F.col("cellphone_prefix_id"), F.lit(" "), F.col("phone_exchange_id"), F.col("phone_line_id")))

In [ ]:
#Join entre clientes y telefonos
df_customer_basics_phones = df_customer_basics.join(df_phones, ['customer_id'], how='left').select(df_customer_basics.customer_id, df_phones.phone_type, df_phones.phone_number, df_phones.last_change_date)
df_customer_basics_phones.sort(F.asc("customer_id")).show(10)

+-----------+----------+-------------------+----------------+
|customer_id|phone_type|       phone_number|last_change_date|
+-----------+----------+-------------------+----------------+
|   00000442|         3| +54 297 15 5296284|      2022-07-20|
|   00000442|         3| +54 297 15 4729337|      2022-07-20|
|   00001419|         3| +54 11 15 66793207|      2022-11-01|
|   00001939|         3| +54 11 15 38700150|      2022-09-21|
|   00002575|      null|               null|            null|
|   00002707|         1|   +54 299  4477116|      2022-08-17|
|   00002790|         3| +54 342 15 4662478|      2022-11-18|
|   00002790|         1|   +54 342  4883620|      2022-10-08|
|   00004287|         3|+54 3541 15 5988799|      2022-08-29|
|   00004724|         3| +54 11 15 24084447|      2022-11-04|
+-----------+----------+-------------------+----------------+
only showing top 10 rows

In [ ]:
#Join entre clientes e email
df_customer_basics_email = df_customer_basics.join(df_email,['customer_id'], how='left').select(df_customer_basics.customer_id, df_email.email_desc, df_email.last_change_date)
df_customer_basics_email.show()

+-----------+--------------------+----------------+
|customer_id|          email_desc|last_change_date|
+-----------+--------------------+----------------+
|   07867437|                null|            null|
|   06813266|                null|            null|
|   29604216|                null|            null|
|   28028529|                null|            null|
|   28366580|                null|            null|
|   02746969|                null|            null|
|   23441482|                null|            null|
|   23610540|                null|            null|
|   25935956|                null|            null|
|   25848977|                null|            null|
|   01957163|                null|            null|
|   06338965|                null|            null|
|   29676364|                null|            null|
|   26205399|   DIONISI@YAHOO.COM|      2019-12-27|
|   03933825|DIGITALIZACION@EE...|      1900-01-01|
|   29416245|                null|            null|
|   29497813|                null|            null|
|   02568856|                null|            null|
|   29681573|                null|            null|
|   04348412|                null|            null|
+-----------+--------------------+----------------+
only showing top 20 rows

In [ ]:
df_address = df_address.withColumn("full_address", F.concat(F.col("street_name"), F.lit(" "), F.concat(F.col("address_outdoor_id"), F.lit(" "), F.col("address_indoor_id"), F.lit(" "), F.col("indoor_number"), F.col("address_town_name"), F.lit(" "), F.col("address_department_name"), F.lit(" "), F.col("zipcode_id"))))

In [ ]:
#join entre clientes y direccion
df_customer_basics_address = df_customer_basics.join(df_address,['customer_id'], how='left').select(df_customer_basics.customer_id, 'full_address', df_address.last_change_date)
df_customer_basics_address.show()

+-----------+--------------------+----------------+
|customer_id|        full_address|last_change_date|
+-----------+--------------------+----------------+
|   07867437|ALTE FRANCISCO SE...|      2009-01-26|
|   06813266|EL TORDO         ...|      2009-01-26|
|   29604216|                null|            null|
|   28028529|AMENEDO          ...|      2009-01-26|
|   28366580|INCA AAA         ...|            null|
|   28366580|INCA             ...|      2011-07-01|
|   02746969|MERCEDES         ...|      2009-01-26|
|   23441482|AV 39            ...|      2011-07-01|
|   23610540|                null|            null|
|   25935956|AV FERNANDEZ DE L...|      2009-01-26|
|   25848977|                null|            null|
|   01957163|JOSE M DE MINOGUY...|      2009-01-26|
|   06338965|MADERO DR FRANCIS...|      2009-01-26|
|   29676364|                null|            null|
|   26205399|SUIPACHA         ...|      2009-01-26|
|   03933825|HENRY DUNANT     ...|      2009-01-26|
|   29416245|                null|            null|
|   29497813|                null|            null|
|   02568856|CLAUDIO MAMERTO C...|      2009-01-26|
|   29681573|                null|            null|
+-----------+--------------------+----------------+
only showing top 20 rows

## **FILTRADO Y REDUCCION DE DATOS --> PHONES (BBVAW2T1-27/61)**

In [ ]:
#Hago una ventana por el customer_id y ordenado por la ultima actualizacion 
w = Window.partitionBy(df_customer_basics_phones['customer_id']).orderBy("last_change_date")

In [ ]:
#Agrego columna que cuente la cantidad de veces que se repite el ID
df_customer_basics_phones = df_customer_basics_phones.withColumn("row_num", row_number().over(w))

In [ ]:
#Corto el dataframe quedandome con las ultimas 3 actualizaciones
df_customer_basics_phones = df_customer_basics_phones.filter(col("row_num") <= 3)

In [ ]:
#Reacomodo la tabla con las columnas de interes y concatenando una nueva
df_customer_basics_phones = df_customer_basics_phones.select('customer_id', 'phone_type', 'phone_number', 'row_num')
df_customer_basics_phones.show(10)

+-----------+----------+-------------------+-------+
|customer_id|phone_type|       phone_number|row_num|
+-----------+----------+-------------------+-------+
|   00000442|         3| +54 297 15 5296284|      1|
|   00000442|         3| +54 297 15 4729337|      2|
|   00001419|         3| +54 11 15 66793207|      1|
|   00001939|         3| +54 11 15 38700150|      1|
|   00002575|      null|               null|      1|
|   00002707|         1|   +54 299  4477116|      1|
|   00002790|         1|   +54 342  4883620|      1|
|   00002790|         3| +54 342 15 4662478|      2|
|   00004287|         3|+54 3541 15 5988799|      1|
|   00004724|         3| +54 11 15 24084447|      1|
+-----------+----------+-------------------+-------+
only showing top 10 rows

In [ ]:
#creo una funcion pivot para una columna especificada y cambiarle el nombre a las nuevas.   
df_final_customer_phones = df_customer_basics_phones.groupBy("customer_id").pivot("row_num").agg(first('phone_number'))
df_final_customer_phones = df_final_customer_phones.withColumnRenamed("1", 'phone_number' + "_1") \
       .withColumnRenamed("2", 'phone_number' + "_2") \
       .withColumnRenamed("3", 'phone_number' + "_3")

In [ ]:
df_final_customer_phones.show()

+-----------+-------------------+------------------+--------------+
|customer_id|     phone_number_1|    phone_number_2|phone_number_3|
+-----------+-------------------+------------------+--------------+
|   00000442| +54 297 15 5296284|+54 297 15 4729337|          null|
|   00001419| +54 11 15 66793207|              null|          null|
|   00001939| +54 11 15 38700150|              null|          null|
|   00002575|               null|              null|          null|
|   00002707|   +54 299  4477116|              null|          null|
|   00002790|   +54 342  4883620|+54 342 15 4662478|          null|
|   00004287|+54 3541 15 5988799|              null|          null|
|   00004724| +54 11 15 24084447|              null|          null|
|   00007932| +54 385 15 4065887|              null|          null|
|   00011850| +54 11 15 25781080|+54 3489 15 493578|          null|
|   00012051| +54 3401 15 534381|              null|          null|
|   00012611|   +54 11  43443165|+54 11 15 61141855|          null|
|   00012991|               null|              null|          null|
|   00013498| +54 221 15 6208511|              null|          null|
|   00014664| +54 11 15 65050605|              null|          null|
|   00015497| +54 11 15 51052460|              null|          null|
|   00051576| +54 11 15 26531080|              null|          null|
|   00053993| +54 3718 15 466655|              null|          null|
|   00056407| +54 336 15 4577255|              null|          null|
|   00056947| +54 297 15 4301718|+54 297 15 4577276|          null|
+-----------+-------------------+------------------+--------------+
only showing top 20 rows

## **FILTRADO Y REDUCCION DE DATOS --> ADDRESS (BBVAW2T1-28)**

In [ ]:
#Hago una ventana por el customer_id y ordenado por la ultima actualizacion 
w = Window.partitionBy(df_customer_basics_address['customer_id']).orderBy("last_change_date")

In [ ]:
#Agrego columna que cuente la cantidad de veces que se repite el ID
df_customer_basics_address = df_customer_basics_address.withColumn("row_num", row_number().over(w))

In [ ]:
#Corto el dataframe quedandome con las ultimas 3 actualizaciones
df_customer_basics_address = df_customer_basics_address.filter(col("row_num") <= 3)

In [ ]:
#Reacomodo la tabla con las columnas de interes.
df_customer_basics_address = df_customer_basics_address.select('customer_id', 'full_address', 'row_num')
df_customer_basics_address.show(10)

+-----------+--------------------+-------+
|customer_id|        full_address|row_num|
+-----------+--------------------+-------+
|   00000442|AGUERO           ...|      1|
|   00001419|ALTE G BROWN     ...|      1|
|   00001939|JOSE HERNANDEZ   ...|      1|
|   00002575|                null|      1|
|   00002707|GUATEMALA        ...|      1|
|   00002790|AV CORDOBA       ...|      1|
|   00004287|CNEL DE MARINA RO...|      1|
|   00004724|PJE MUTUALISMO   ...|      1|
|   00007932|AV FELIX DE OLAZA...|      1|
|   00011850|JUNCAL           ...|      1|
+-----------+--------------------+-------+
only showing top 10 rows

In [ ]:
#creo una funcion pivot para una columna especificada y cambiarle el nombre a las nuevas.
  
df_final_customer_address = df_customer_basics_address.groupBy("customer_id").pivot("row_num").agg(first('full_address'))
df_final_customer_address = df_final_customer_address.withColumnRenamed("1", 'full_address' + "_1") \
       .withColumnRenamed("2", 'full_address' + "_2") \
       .withColumnRenamed("3", 'full_address' + "_3")

In [ ]:
df_final_customer_address.show()

+-----------+--------------------+--------------+--------------+
|customer_id|      full_address_1|full_address_2|full_address_3|
+-----------+--------------------+--------------+--------------+
|   00000442|AGUERO           ...|          null|          null|
|   00001419|ALTE G BROWN     ...|          null|          null|
|   00001939|JOSE HERNANDEZ   ...|          null|          null|
|   00002575|                null|          null|          null|
|   00002707|GUATEMALA        ...|          null|          null|
|   00002790|AV CORDOBA       ...|          null|          null|
|   00004287|CNEL DE MARINA RO...|          null|          null|
|   00004724|PJE MUTUALISMO   ...|          null|          null|
|   00007932|AV FELIX DE OLAZA...|          null|          null|
|   00011850|JUNCAL           ...|          null|          null|
|   00012051|AV GRAL JOSE MARI...|          null|          null|
|   00012611|ALBERTO LARROQUE ...|          null|          null|
|   00012991|                null|          null|          null|
|   00013498|AV PTE H YRIGOYEN...|          null|          null|
|   00014664|AV TRIUNVIRATO   ...|          null|          null|
|   00015497|VUELTA DE OBLIGAD...|          null|          null|
|   00051576|ING GUILLERMO MAR...|          null|          null|
|   00053993|CALLE 899        ...|          null|          null|
|   00056407|AV DR J BAUTISTA ...|          null|          null|
|   00056947|AV 25 DE MAYO    ...|          null|          null|
+-----------+--------------------+--------------+--------------+
only showing top 20 rows

## **FILTRADO Y REDUCCION DE DATOS --> EMAILS (BBVAW2T1-29)**

In [ ]:
#Filtrado y reduccion de datos --> EMAILS
w = Window.partitionBy(df_customer_basics_email['customer_id']).orderBy("last_change_date")

In [ ]:
df_customer_basics_email = df_customer_basics_email.withColumn("row_num", row_number().over(w))

In [ ]:
df_customer_basics_email = df_customer_basics_email.filter(col("row_num") <= 3)

In [ ]:
df_customer_basics_email.show(10)

+-----------+--------------------+----------------+-------+
|customer_id|          email_desc|last_change_date|row_num|
+-----------+--------------------+----------------+-------+
|   00000442|                null|            null|      1|
|   00001419|EMILIA.RUBIANES@H...|      2015-10-08|      1|
|   00001419|  JU_LY1@HOTMAIL.COM|      2019-05-11|      2|
|   00001939|                null|            null|      1|
|   00002575|                null|            null|      1|
|   00002707|                null|            null|      1|
|   00002790|DIGITALIZACION@EE...|      1900-01-01|      1|
|   00002790| NOTIENE@HOIMAIL.COM|      2019-07-29|      2|
|   00004287|                null|            null|      1|
|   00004724|                null|            null|      1|
+-----------+--------------------+----------------+-------+
only showing top 10 rows

In [ ]:
#Hago primer pivot para dejar una fila por ID y tener cada email en columnas separadas
df_final_customer_email = df_customer_basics_email.groupBy("customer_id").pivot("row_num").agg(first("email_desc"))
df_final_customer_email = df_final_customer_email.withColumnRenamed("1", "email_1") \
       .withColumnRenamed("2", "email_2") \
       .withColumnRenamed("3", "email_3")
df_final_customer_email.show()

+-----------+--------------------+-------------------+-------+
|customer_id|             email_1|            email_2|email_3|
+-----------+--------------------+-------------------+-------+
|   00000442|                null|               null|   null|
|   00001419|EMILIA.RUBIANES@H...| JU_LY1@HOTMAIL.COM|   null|
|   00001939|                null|               null|   null|
|   00002575|                null|               null|   null|
|   00002707|                null|               null|   null|
|   00002790|DIGITALIZACION@EE...|NOTIENE@HOIMAIL.COM|   null|
|   00004287|                null|               null|   null|
|   00004724|                null|               null|   null|
|   00007932|                null|               null|   null|
|   00011850|                null|               null|   null|
|   00012051|                null|               null|   null|
|   00012611|                null|               null|   null|
|   00012991|                null|               null|   null|
|   00013498|                null|               null|   null|
|   00014664|   alq@ciudad.com.ar|               null|   null|
|   00015497|                null|               null|   null|
|   00051576|                null|               null|   null|
|   00053993|                null|               null|   null|
|   00056407|NELLY.S.GEREZ@GMA...|               null|   null|
|   00056947|                null|               null|   null|
+-----------+--------------------+-------------------+-------+
only showing top 20 rows

## **AGREGAR COLUMNA CONTACT TYPE A LOS DATAFRAME (BBVAW2T1-30)**

In [ ]:
df_final_customer_address = df_final_customer_address.withColumn("Contact_type", lit('Address'))
df_final_customer_email = df_final_customer_email.withColumn("Contact_type", lit('Email'))
df_final_customer_phones = df_final_customer_phones.withColumn("Contact_type", lit('Phone'))

In [ ]:
#Reemplazo los valores en Tipo de Contacto que son null
df_final_customer_address = df_final_customer_address.withColumn("Contact_type", F.when(F.col("full_address_1").isNull(), F.lit(" ")).otherwise(F.lit("address")))
df_final_customer_phones = df_final_customer_phones.withColumn("Contact_type", F.when(F.col("phone_number_1").isNull(), F.lit(" ")).otherwise(F.lit("phone")))
df_final_customer_email = df_final_customer_email.withColumn("Contact_type", F.when(F.col("email_1").isNull(), F.lit(" ")).otherwise(F.lit("email")))

In [ ]:
df_final_customer_address.show()

+-----------+--------------------+--------------+--------------+------------+
|customer_id|      full_address_1|full_address_2|full_address_3|Contact_type|
+-----------+--------------------+--------------+--------------+------------+
|   00000442|AGUERO           ...|          null|          null|     address|
|   00001419|ALTE G BROWN     ...|          null|          null|     address|
|   00001939|JOSE HERNANDEZ   ...|          null|          null|     address|
|   00002575|                null|          null|          null|            |
|   00002707|GUATEMALA        ...|          null|          null|     address|
|   00002790|AV CORDOBA       ...|          null|          null|     address|
|   00004287|CNEL DE MARINA RO...|          null|          null|     address|
|   00004724|PJE MUTUALISMO   ...|          null|          null|     address|
|   00007932|AV FELIX DE OLAZA...|          null|          null|     address|
|   00011850|JUNCAL           ...|          null|          null|     address|
|   00012051|AV GRAL JOSE MARI...|          null|          null|     address|
|   00012611|ALBERTO LARROQUE ...|          null|          null|     address|
|   00012991|                null|          null|          null|            |
|   00013498|AV PTE H YRIGOYEN...|          null|          null|     address|
|   00014664|AV TRIUNVIRATO   ...|          null|          null|     address|
|   00015497|VUELTA DE OBLIGAD...|          null|          null|     address|
|   00051576|ING GUILLERMO MAR...|          null|          null|     address|
|   00053993|CALLE 899        ...|          null|          null|     address|
|   00056407|AV DR J BAUTISTA ...|          null|          null|     address|
|   00056947|AV 25 DE MAYO    ...|          null|          null|     address|
+-----------+--------------------+--------------+--------------+------------+
only showing top 20 rows

## **AGREGAR COLUMNA DE JSON A TELEFONO (BBVAW2T1-31)**

In [ ]:
df_final_customer_phones = df_final_customer_phones.withColumn("phone_number_1_to_json", F.when(F.col("phone_number_1").isNull(), F.lit("sin_dato")).otherwise(F.col("phone_number_1")))
df_final_customer_phones = df_final_customer_phones.withColumn("phone_number_1_json", F.to_json(F.struct("phone_number_1_to_json")))

In [ ]:
df_final_customer_phones.count()

1614

## **AGREGAR COLUMNA DE JSON A DOMICILIO (BBVAW2T1-32)**

In [ ]:
df_final_customer_address = df_final_customer_address.withColumn("full_address_1_to_json", F.when(F.col("full_address_1").isNull(), F.lit("sin_dato")).otherwise(F.col("full_address_1")))
df_final_customer_address = df_final_customer_address.withColumn("full_address_1_json", F.to_json(F.struct("full_address_1_to_json")))

In [ ]:
df_final_customer_email.count()

1614

In [ ]:
df_final_customer_address.select(F.collect_list('full_address_1_json')).first()[0]

## **JOIN TABLAS DE CONTACTOS (BBVAW2T1-33)**

In [ ]:
#cambiando el primer campo podemos hacer el join de las tres bases.
df_final_customer_phones = df_final_customer_phones.withColumnRenamed('customer_id','customer_id_B')

In [ ]:
df_final = df_final_customer_phones.join(df_final_customer_email, df_final_customer_phones.customer_id_B == df_final_customer_email.customer_id, how = "left")
df_final = df_final.drop("customer_id")
df_final = df_final.join(df_final_customer_address, df_final.customer_id_B == df_final_customer_address.customer_id, how = "left")
df_final = df_final.drop("customer_id")
df_final = df_final.withColumnRenamed('customer_id_B','customer_id')

In [ ]:
df_final.show()

+-----------+-------------------+------------------+--------------+------------+----------------------+--------------------+--------------------+-------------------+-------+------------+--------------------+--------------+--------------+------------+----------------------+--------------------+
|customer_id|     phone_number_1|    phone_number_2|phone_number_3|Contact_type|phone_number_1_to_json| phone_number_1_json|             email_1|            email_2|email_3|Contact_type|      full_address_1|full_address_2|full_address_3|Contact_type|full_address_1_to_json| full_address_1_json|
+-----------+-------------------+------------------+--------------+------------+----------------------+--------------------+--------------------+-------------------+-------+------------+--------------------+--------------+--------------+------------+----------------------+--------------------+
|   00000442| +54 297 15 5296284|+54 297 15 4729337|          null|       phone|    +54 297 15 5296284|{"phone_number_1_...|                null|               null|   null|            |AGUERO           ...|          null|          null|     address|  AGUERO           ...|{"full_address_1_...|
|   00001419| +54 11 15 66793207|              null|          null|       phone|    +54 11 15 66793207|{"phone_number_1_...|EMILIA.RUBIANES@H...| JU_LY1@HOTMAIL.COM|   null|       email|ALTE G BROWN     ...|          null|          null|     address|  ALTE G BROWN     ...|{"full_address_1_...|
|   00001939| +54 11 15 38700150|              null|          null|       phone|    +54 11 15 38700150|{"phone_number_1_...|                null|               null|   null|            |JOSE HERNANDEZ   ...|          null|          null|     address|  JOSE HERNANDEZ   ...|{"full_address_1_...|
|   00002575|               null|              null|          null|            |              sin_dato|{"phone_number_1_...|                null|               null|   null|            |                null|          null|          null|            |              sin_dato|{"full_address_1_...|
|   00002707|   +54 299  4477116|              null|          null|       phone|      +54 299  4477116|{"phone_number_1_...|                null|               null|   null|            |GUATEMALA        ...|          null|          null|     address|  GUATEMALA        ...|{"full_address_1_...|
|   00002790|   +54 342  4883620|+54 342 15 4662478|          null|       phone|      +54 342  4883620|{"phone_number_1_...|DIGITALIZACION@EE...|NOTIENE@HOIMAIL.COM|   null|       email|AV CORDOBA       ...|          null|          null|     address|  AV CORDOBA       ...|{"full_address_1_...|
|   00004287|+54 3541 15 5988799|              null|          null|       phone|   +54 3541 15 5988799|{"phone_number_1_...|                null|               null|   null|            |CNEL DE MARINA RO...|          null|          null|     address|  CNEL DE MARINA RO...|{"full_address_1_...|
|   00004724| +54 11 15 24084447|              null|          null|       phone|    +54 11 15 24084447|{"phone_number_1_...|                null|               null|   null|            |PJE MUTUALISMO   ...|          null|          null|     address|  PJE MUTUALISMO   ...|{"full_address_1_...|
|   00007932| +54 385 15 4065887|              null|          null|       phone|    +54 385 15 4065887|{"phone_number_1_...|                null|               null|   null|            |AV FELIX DE OLAZA...|          null|          null|     address|  AV FELIX DE OLAZA...|{"full_address_1_...|
|   00011850| +54 11 15 25781080|+54 3489 15 493578|          null|       phone|    +54 11 15 25781080|{"phone_number_1_...|                null|               null|   null|            |JUNCAL           ...|          null|          null|     address|  JUNCAL           ...|{"full_address_1_...|
|   00012051| +54 3401 15 534381|              null|          null|       phone|    +54 3401 15 534381|{"phone_number_1_...|                null|               null|   null|            |AV GRAL JOSE MARI...|          null|          null|     address|  AV GRAL JOSE MARI...|{"full_address_1_...|
|   00012611|   +54 11  43443165|+54 11 15 61141855|          null|       phone|      +54 11  43443165|{"phone_number_1_...|                null|               null|   null|            |ALBERTO LARROQUE ...|          null|          null|     address|  ALBERTO LARROQUE ...|{"full_address_1_...|
|   00012991|               null|              null|          null|            |              sin_dato|{"phone_number_1_...|                null|               null|   null|            |                null|          null|          null|            |              sin_dato|{"full_address_1_...|
|   00013498| +54 221 15 6208511|              null|          null|       phone|    +54 221 15 6208511|{"phone_number_1_...|                null|               null|   null|            |AV PTE H YRIGOYEN...|          null|          null|     address|  AV PTE H YRIGOYEN...|{"full_address_1_...|
|   00014664| +54 11 15 65050605|              null|          null|       phone|    +54 11 15 65050605|{"phone_number_1_...|   alq@ciudad.com.ar|               null|   null|       email|AV TRIUNVIRATO   ...|          null|          null|     address|  AV TRIUNVIRATO   ...|{"full_address_1_...|
|   00015497| +54 11 15 51052460|              null|          null|       phone|    +54 11 15 51052460|{"phone_number_1_...|                null|               null|   null|            |VUELTA DE OBLIGAD...|          null|          null|     address|  VUELTA DE OBLIGAD...|{"full_address_1_...|
|   00051576| +54 11 15 26531080|              null|          null|       phone|    +54 11 15 26531080|{"phone_number_1_...|                null|               null|   null|            |ING GUILLERMO MAR...|          null|          null|     address|  ING GUILLERMO MAR...|{"full_address_1_...|
|   00053993| +54 3718 15 466655|              null|          null|       phone|    +54 3718 15 466655|{"phone_number_1_...|                null|               null|   null|            |CALLE 899        ...|          null|          null|     address|  CALLE 899        ...|{"full_address_1_...|
|   00056407| +54 336 15 4577255|              null|          null|       phone|    +54 336 15 4577255|{"phone_number_1_...|NELLY.S.GEREZ@GMA...|               null|   null|       email|AV DR J BAUTISTA ...|          null|          null|     address|  AV DR J BAUTISTA ...|{"full_address_1_...|
|   00056947| +54 297 15 4301718|+54 297 15 4577276|          null|       phone|    +54 297 15 4301718|{"phone_number_1_...|                null|               null|   null|            |AV 25 DE MAYO    ...|          null|          null|     address|  AV 25 DE MAYO    ...|{"full_address_1_...|
+-----------+-------------------+------------------+--------------+------------+----------------------+--------------------+--------------------+-------------------+-------+------------+--------------------+--------------+--------------+------------+----------------------+--------------------+
only showing top 20 rows

## **RESGUARDAR 3 CONTACTOS DE CLIENTES (BBVAW2T1-34)**

In [ ]:
# Crear las nuevas columnas con valores no nulos de las columnas de contactos, priorizando Telefono, Mail o dirección
df_final = df_final.withColumn("contacto_1", coalesce("phone_number_1", "phone_number_2", "phone_number_3", "email_1", "email_2", "email_3", "full_address_1", "full_address_1", "full_address_1"))
df_final = df_final.withColumn("contacto_2", coalesce("phone_number_2", "phone_number_3", "email_1", "email_2", "email_3", "full_address_1", "full_address_2", "full_address_3"))
df_final = df_final.withColumn("contacto_3", coalesce("phone_number_3", "email_1", "email_1", "email_1", "full_address_1", "full_address_2", "full_address_3", 
                                        expr("coalesce(email_1, email_2, email_3, full_address_1, full_address_2, full_address_3)")))

df_final = df_final.withColumn("contacto_2", 
                               when(col("contacto_2").isin(col("contacto_1")), None)
                               .otherwise(col("contacto_2")))
df_final = df_final.withColumn("contacto_3", 
                               when(col("contacto_3").isin(col("contacto_1"), col("contacto_2")), None)
                               .otherwise(col("contacto_3")))

df_final.show()

+-----------+-------------------+------------------+--------------+------------+----------------------+--------------------+--------------------+-------------------+-------+------------+--------------------+--------------+--------------+------------+----------------------+--------------------+-------------------+--------------------+--------------------+
|customer_id|     phone_number_1|    phone_number_2|phone_number_3|Contact_type|phone_number_1_to_json| phone_number_1_json|             email_1|            email_2|email_3|Contact_type|      full_address_1|full_address_2|full_address_3|Contact_type|full_address_1_to_json| full_address_1_json|         contacto_1|          contacto_2|          contacto_3|
+-----------+-------------------+------------------+--------------+------------+----------------------+--------------------+--------------------+-------------------+-------+------------+--------------------+--------------+--------------+------------+----------------------+--------------------+-------------------+--------------------+--------------------+
|   00000442| +54 297 15 5296284|+54 297 15 4729337|          null|       phone|    +54 297 15 5296284|{"phone_number_1_...|                null|               null|   null|            |AGUERO           ...|          null|          null|     address|  AGUERO           ...|{"full_address_1_...| +54 297 15 5296284|  +54 297 15 4729337|AGUERO           ...|
|   00001419| +54 11 15 66793207|              null|          null|       phone|    +54 11 15 66793207|{"phone_number_1_...|EMILIA.RUBIANES@H...| JU_LY1@HOTMAIL.COM|   null|       email|ALTE G BROWN     ...|          null|          null|     address|  ALTE G BROWN     ...|{"full_address_1_...| +54 11 15 66793207|EMILIA.RUBIANES@H...|EMILIA.RUBIANES@H...|
|   00001939| +54 11 15 38700150|              null|          null|       phone|    +54 11 15 38700150|{"phone_number_1_...|                null|               null|   null|            |JOSE HERNANDEZ   ...|          null|          null|     address|  JOSE HERNANDEZ   ...|{"full_address_1_...| +54 11 15 38700150|JOSE HERNANDEZ   ...|JOSE HERNANDEZ   ...|
|   00002575|               null|              null|          null|            |              sin_dato|{"phone_number_1_...|                null|               null|   null|            |                null|          null|          null|            |              sin_dato|{"full_address_1_...|               null|                null|                null|
|   00002707|   +54 299  4477116|              null|          null|       phone|      +54 299  4477116|{"phone_number_1_...|                null|               null|   null|            |GUATEMALA        ...|          null|          null|     address|  GUATEMALA        ...|{"full_address_1_...|   +54 299  4477116|GUATEMALA        ...|GUATEMALA        ...|
|   00002790|   +54 342  4883620|+54 342 15 4662478|          null|       phone|      +54 342  4883620|{"phone_number_1_...|DIGITALIZACION@EE...|NOTIENE@HOIMAIL.COM|   null|       email|AV CORDOBA       ...|          null|          null|     address|  AV CORDOBA       ...|{"full_address_1_...|   +54 342  4883620|  +54 342 15 4662478|DIGITALIZACION@EE...|
|   00004287|+54 3541 15 5988799|              null|          null|       phone|   +54 3541 15 5988799|{"phone_number_1_...|                null|               null|   null|            |CNEL DE MARINA RO...|          null|          null|     address|  CNEL DE MARINA RO...|{"full_address_1_...|+54 3541 15 5988799|CNEL DE MARINA RO...|CNEL DE MARINA RO...|
|   00004724| +54 11 15 24084447|              null|          null|       phone|    +54 11 15 24084447|{"phone_number_1_...|                null|               null|   null|            |PJE MUTUALISMO   ...|          null|          null|     address|  PJE MUTUALISMO   ...|{"full_address_1_...| +54 11 15 24084447|PJE MUTUALISMO   ...|PJE MUTUALISMO   ...|
|   00007932| +54 385 15 4065887|              null|          null|       phone|    +54 385 15 4065887|{"phone_number_1_...|                null|               null|   null|            |AV FELIX DE OLAZA...|          null|          null|     address|  AV FELIX DE OLAZA...|{"full_address_1_...| +54 385 15 4065887|AV FELIX DE OLAZA...|AV FELIX DE OLAZA...|
|   00011850| +54 11 15 25781080|+54 3489 15 493578|          null|       phone|    +54 11 15 25781080|{"phone_number_1_...|                null|               null|   null|            |JUNCAL           ...|          null|          null|     address|  JUNCAL           ...|{"full_address_1_...| +54 11 15 25781080|  +54 3489 15 493578|JUNCAL           ...|
|   00012051| +54 3401 15 534381|              null|          null|       phone|    +54 3401 15 534381|{"phone_number_1_...|                null|               null|   null|            |AV GRAL JOSE MARI...|          null|          null|     address|  AV GRAL JOSE MARI...|{"full_address_1_...| +54 3401 15 534381|AV GRAL JOSE MARI...|AV GRAL JOSE MARI...|
|   00012611|   +54 11  43443165|+54 11 15 61141855|          null|       phone|      +54 11  43443165|{"phone_number_1_...|                null|               null|   null|            |ALBERTO LARROQUE ...|          null|          null|     address|  ALBERTO LARROQUE ...|{"full_address_1_...|   +54 11  43443165|  +54 11 15 61141855|ALBERTO LARROQUE ...|
|   00012991|               null|              null|          null|            |              sin_dato|{"phone_number_1_...|                null|               null|   null|            |                null|          null|          null|            |              sin_dato|{"full_address_1_...|               null|                null|                null|
|   00013498| +54 221 15 6208511|              null|          null|       phone|    +54 221 15 6208511|{"phone_number_1_...|                null|               null|   null|            |AV PTE H YRIGOYEN...|          null|          null|     address|  AV PTE H YRIGOYEN...|{"full_address_1_...| +54 221 15 6208511|AV PTE H YRIGOYEN...|AV PTE H YRIGOYEN...|
|   00014664| +54 11 15 65050605|              null|          null|       phone|    +54 11 15 65050605|{"phone_number_1_...|   alq@ciudad.com.ar|               null|   null|       email|AV TRIUNVIRATO   ...|          null|          null|     address|  AV TRIUNVIRATO   ...|{"full_address_1_...| +54 11 15 65050605|   alq@ciudad.com.ar|   alq@ciudad.com.ar|
|   00015497| +54 11 15 51052460|              null|          null|       phone|    +54 11 15 51052460|{"phone_number_1_...|                null|               null|   null|            |VUELTA DE OBLIGAD...|          null|          null|     address|  VUELTA DE OBLIGAD...|{"full_address_1_...| +54 11 15 51052460|VUELTA DE OBLIGAD...|VUELTA DE OBLIGAD...|
|   00051576| +54 11 15 26531080|              null|          null|       phone|    +54 11 15 26531080|{"phone_number_1_...|                null|               null|   null|            |ING GUILLERMO MAR...|          null|          null|     address|  ING GUILLERMO MAR...|{"full_address_1_...| +54 11 15 26531080|ING GUILLERMO MAR...|ING GUILLERMO MAR...|
|   00053993| +54 3718 15 466655|              null|          null|       phone|    +54 3718 15 466655|{"phone_number_1_...|                null|               null|   null|            |CALLE 899        ...|          null|          null|     address|  CALLE 899        ...|{"full_address_1_...| +54 3718 15 466655|CALLE 899        ...|CALLE 899        ...|
|   00056407| +54 336 15 4577255|              null|          null|       phone|    +54 336 15 4577255|{"phone_number_1_...|NELLY.S.GEREZ@GMA...|               null|   null|       email|AV DR J BAUTISTA ...|          null|          null|     address|  AV DR J BAUTISTA ...|{"full_address_1_...| +54 336 15 4577255|NELLY.S.GEREZ@GMA...|NELLY.S.GEREZ@GMA...|
|   00056947| +54 297 15 4301718|+54 297 15 4577276|          null|       phone|    +54 297 15 4301718|{"phone_number_1_...|                null|               null|   null|            |AV 25 DE MAYO    ...|          null|          null|     address|  AV 25 DE MAYO    ...|{"full_address_1_...| +54 297 15 4301718|  +54 297 15 4577276|AV 25 DE MAYO    ...|
+-----------+-------------------+------------------+--------------+------------+----------------------+--------------------+--------------------+-------------------+-------+------------+--------------------+--------------+--------------+------------+----------------------+--------------------+-------------------+--------------------+--------------------+
only showing top 20 rows

## **VISTA TEMPORAL DE CONTACTOS --> BBVAW2T1-35**

In [ ]:
df_final.createOrReplaceTempView("contacts_view")
spark.sql("SELECT * FROM contacts_view").show()

## **VISTA TEMPORAL DE CLIENTES --> BBVAW2T1-36**

In [ ]:
df_customer_basics.createOrReplaceTempView("customer_basics_view")
spark.sql("SELECT * FROM customer_basics_view").show(2000)

## **VISTA TEMPORAL DE ESTADO CIVIL --> BBVAW2T1-37**

In [ ]:
df_marital_status_type.createOrReplaceTempView("marital_status_type_view")
spark.sql("SELECT * FROM marital_status_type_view").show()

## **VISTA TEMPORAL DE NACIONALIDAD --> BBVAW2T1-38/62**

In [ ]:
df_nationality.createOrReplaceTempView("nationality_view")
spark.sql("SELECT * FROM nationality_view").show(1000)